{% extends 'redesign/base.html' %}
{% comment %} {% extends 'dashboard/base_fixed.html' %} {% endcomment %}
{% load static %}

{% block title %}{{object.name}} - Lize{% endblock title %}

{% block css-additional %}
  <link href="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
{% endblock css-additional %}

{% block content-fixed %}
<div class="ard cex ddc">
<div class="ls" style="margin-top: 0.625rem; margin-bottom: 1rem; justify-content: space-between;"></div>
<!-- <h4>{{object.name}}</h4> -->
<div class="performance-content">
  <div class="row">
      <div class="col-12">
          <div class="card">
            <div class="card-body pd-y-20">
              <iframe
                src="{{object.embbed_url}}"
                frameborder="0"
                width="100%"
                height="1400"
                allowtransparency
              ></iframe>
            </div>
          </div>
      </div>
  </div>
</div>
</div>
{% endblock content-fixed %}
