{% extends 'base.html' %}
{% load static %}
{% load cleaned_params %}
{% load exclude_especific_params %}

{% block title %}
  Lize - Imprimir gabarito ENEM
{% endblock title %}

{% block css-additional %}

<style>
  body {
    background-color: #fff !important;
  }
  .bg-light {
    background: #D9D9D9 !important;
  }
  .signature {
    height: 2px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  #instructions h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  #instructions h4.background {
    position: relative;
    z-index: 1;
  }
  #instructions h4.background:before {
    /* border-top: 2px solid #000; */
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  #instructions h4.background span {
    background: #fff;
    padding: 0 15px;
  }

  .black-square {
    width: 10mm; 
    height: 10mm; 
    
    background: url('{% static "omr_marker.jpg" %}') left 1mm top 1mm no-repeat;
    background-size: 8mm;
  }
  .circle {
    width: 18px; 
    height: 18px;
    border-radius: 100%;
    border: 1px solid;
    margin: 0 5px;
  }
  #template-tables .circle {
    width: 20px;
    height: 20px;
    border: 2px solid;
    margin-left: 1px;
  } 
  #template-tables td {
    padding-bottom: 4.5px;
    font-size: 1rem;
  }

  @media all {
    .pagebreak { display: none; }
  }

  .pagebreak { 
    display: block; 
    page-break-before: always; 
  }

  @page {
    /* size: A4; */
    margin-left: 10mm;
    margin-top: 10mm;
    margin-right: 10mm;
    margin-bottom: 10mm;
  }

  .class-page {
    page-break-after: always;
    min-height: 298mm;
    max-height: 298mm;
    text-align: center;
    padding-top: 100mm;
    font-size: 22pt;
  }

  .qr-code {
        position: relative;
    }

  .randomization-version {
      position: absolute;
      top: -0.5mm;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      overflow: hidden;
      font-weight: bold;
      font-size: 9pt;
  }

  .qr-text {
    font-size: 10pt;
  }

</style>

{% endblock %}


{% block content %}
{% for application_student in application_students %}
{% if application_student.is_class_first %}
  <div class="class-page pagebreak text-uppercase">
      {{ application_student.school_class.coordination.unity.name }} <br>
      TURMA: {{ application_student.school_class.name }}
  </div>
{% endif %}
<section id="sectionHeader" class="pagebreak">
  <div class="row m-0 d-flex align-items-center">
    <div class="col-lg-4 col-5">
      <div class="">
        <span class="tx-38 tx-semibold text-uppercase" style="text-underline-offset: 10px; border-bottom: 3px solid;">CARTÃO-RESPOSTA</span>
        <p class="tx-19">{{ object.exam.name|truncatechars:50 }}</p>
      </div>
    </div>
    <div class="col-lg-5 col-7 pb-2">
      <div class="card-body bg-light pr-5 py-2">
        <p class="mb-0"><strong style="font-size: 1.2rem;">Essa prova só pode ser aplicada a partir da data</strong>
          Caso essa prova seja aplicada antes da data indicada, os dados
          desse <strong>CARTÃO-RESPOSTA</strong> serão desconsiderados
        </p>
      </div>
    </div>
    <div class="col-12 p-0 mb-1 d-flex justify-content-between title text-uppercase">
      <div class="black-square"></div>
      <div class="qr-text pt-4">#{{qr_code_text}}#</div>
      <div class="black-square"></div>
    </div>
    <div class="col-12 p-0">
      <table style="border: 2px solid;">
        <tbody>
          <tr>
            <td class="py-2">
              <span class="p-2 text-uppercase">Nome do aluno: 
                <strong>
                  {{application_student.student.name}}
                  {% if application_student %}(Mat. {{application_student.student.enrollment_number}}){% endif %}
                </strong>
              </span>
            </td>
            <td class="bg-light text-center border border-dark tx-12"><span class="tx-bold">IDENTIFICAÇÃO DO ALUNO</span></td>
          </tr>
          <tr>
            <td class="m-0 p-0">
              <div class="d-flex">
                <div class="text-center pt-1" style="width: 30px; height: 30px; border: 1px solid;" v-for="i in 28"></div>
              </div>
              <div class="d-flex">
                <div class="text-center pt-1" style="width: 30px; height: 30px; border: 1px solid;" v-for="i in 28"></div>
              </div>
            </td>
            <td class="border border-dark text-center qr-code" rowspan="3">
              {{ application_student.qr_code|safe }}
              <div class="randomization-version">
                {% if randomization_version %}V{{ randomization_version.version_number }}{% endif %}
              </div>
            </td>
          </tr>
          <tr>
            <td class="px-2">
              <span>Exame realizado por:</span>
            </td>
          </tr>
          <tr>
            <td class="px-2">
              <span>
                <strong class="tx-20">
                  Instituição: {{ application_student.student.client.name }}
                  {% if application_student.get_last_class_student %}
                    - {{ application_student.get_last_class_student.name }}
                  {% endif %}
                </strong>
              </span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="bg-light text-center border border-dark tx-bold px-3 tx-10">PARA USO EXCLUSIVO DO FISCAL DE SALA</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td rowspan="2" class="border border-dark">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td class="p-1 text-center border-0 align-middle tx-10">Participante ausente</td>
                    <td class="p-1 mr-2 text-center border-0 d-flex align-middle">SIM <div class="ml-2" style="border: 3px solid; border-radius: 100%; width: 23px; height: 23px;">&nbsp;</div></td>
                  </tr>
                  <tr>
                    <td class="p-1 text-center border-0 tx-10">Participante presente deixou o cartão-resposta em branco</td>
                    <td class="p-1 mr-2 text-center border-0 d-flex">SIM <div class="ml-2" style="border: 3px solid; border-radius: 100%; width: 23px; height: 23px;">&nbsp;</div></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="signature mx-1"></div>
              <p class="text-center tx-10 mb-0 mt-1">Assinatura do participante</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section id="instructions">
  <div class="row m-0">
    <div class="col-12 pt-2">
      <h4 class="background"><span>INSTRUÇÕES</span></h4>
      <ul>
        <li>Verifique se o seu nome completo, o número da sua inscrição e os demais dados impressos neste <strong>CARTÃO-RESPOSTA/FOLHA DE REDAÇÃO</strong> estão corretos.
          Preencha o seu nome completo e assine somente no local apropriado.
        </li>
        <li>Não haverá substituição deste <strong>CARTÃO-RESPOSTA/FOLHA DE REDAÇÃO</strong> por erro de preenchimento e/ou destaque.</li>
        <li>
          O <strong>CARTÃO-RESPOSTA/FOLHA DE REDAÇÃO</strong> é o único documento que será utilizado para a correção eletrônica de suas provas. Não o amasse, não o dobre
          nem o rasure. O preenchimento do <strong>CARTÃO-RESPOSTA/FOLHA DE REDAÇÃO</strong> deve ser feito com caneta esferográfica de tinta preta fabricada
          em material transparente. Não será permitido o uso de lápis, lapiseira (grafite) e borracha.
        </li>
        <li>Faça o preenchimento de suas respostas neste <strong>CARTÃO-RESPOSTA</strong>, nos campos apropriados, conforme o <strong>EXEMPLO DE PREENCHIMENTO</strong></li>
      </ul>
    </div>
  </div>
</section>
<section class="exam-title">
  <div class="row m-0 mt-2">
    <div class="col-12 p-0 d-flex justify-content-center title">
      <h2>
        {{ object.exam.name|upper|truncatechars:50 }}
      </h2>
    </div>
    <div class="col-12 mt-1 exemple">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <h6>EXEMPLO DE PREENCHIMENTO</h6>
          <p>
            Para todas as marcações neste <strong>CARTÃO-RESPOSTA</strong>, preencha os círculos completamente e com
            nitidez, utilizando <strong>caneta esferográﬁca de tinta preta, fabricada em material transparente</strong>,
            conforme a ilustração
          </p>
        </div>
        <div class="col-5 d-flex justify-content-end p-0">
          <table>
            <tbody class="border border-dark">
              <tr>
                <td class="py-2 px-1">
                  <div class="d-flex flex-column">
                    <span>&rarr;	resposta à <strong>QUESTÃO</strong> X=A</span>
                    <span>&rarr;	resposta à <strong>QUESTÃO</strong> Y=C</span>
                    <span>&rarr;	resposta à <strong>QUESTÃO</strong> Z=D</span>
                  </div>
                </td>
                <td class="tx-12">
                  <div class="d-flex flex-column px-1" style="border: 2px solid;">
                    <div class="d-flex text-center align-items-center py-1">
                      <span class="mr-3">X</span><div class="circle" style="background-color: black;"></div><div class="circle">B</div><div class="circle">C</div><div class="circle">D</div><div class="circle">E</div>
                    </div>
                    <div class="d-flex text-center align-items-center py-1">
                      <span class="mr-3">Y</span><div class="circle">A</div><div class="circle">B</div><div class="circle" style="background-color: black;"></div><div class="circle">D</div><div class="circle">E</div>
                    </div>
                    <div class="d-flex text-center align-items-center py-1">
                      <span class="mr-3">Z</span><div class="circle" style="background-color: black;"></div><div class="circle">B</div><div class="circle">C</div><div class="circle" style="background-color: black;"></div><div class="circle">E</div>
                      
                    </div>
                    <img src="{% static 'mao-e-caneta.png' %}" style="position: absolute; width: 80px; top: -10px; right: -15px;">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 p-0">
          <div class="row m-0">
            <div class="col-4 bg-light" style="border: 2px solid;">
              <p class="mt-3 mb-2">
                <strong>ATENÇÃO:</strong> TRANSCREVA AQUI COM A SUA
                CALIGRAFIA USUAL, A FRASE APRESENTADA
                NA CAPA DO SEU CADERNO DE QUESTÕES
                CONFORME AS INSTRUÇÕES NELA CONTIDAS.
              </p>
            </div>
            <div class="col" style="border: 2px solid;">
              <span style="position: absolute; font-size: 6rem; left: -16px; top: -20px;">&#10157;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="template-tables">
  <div class="row m-0">
    <div class="col-12 p-0">
      <h5 class="pl-3" {% if not object.exam.has_foreign_languages %}style="visibility: hidden;"{% endif %}>Lingua estrangeira</h5>
    </div>
    <div class="col-12 d-flex p-0 pl-3 d-none" {% if not object.exam.has_foreign_languages %}style="visibility: hidden;"{% endif %}>
        <div class="d-flex"><div class="circle ml-0 mr-2"></div> Inglês</div>
        <div class="d-flex"><div class="circle ml-2 mr-2"></div> Espanhol</div>      
    </div>
    <div class="col-12 p-0 mt-2">
      <div class="row m-0 pl-2 pr-2 d-flex justify-content-between">
        <div class="col p-0" id="tables" v-for="column in generateTables().columns()">
          <table class="text-center tx-semibold table-striped">
              <thead class="border border-dark">
                <tr class="bg-light">
                  <td colspan="6" class="tx-16">${column.title}</td>
                </tr>
              </thead>
              <tbody class="border border-dark">
                <tr class="text-center">
                  <td class="p-0"></td>
                  <td class="p-0">A</td>
                  <td class="p-0">B</td>
                  <td class="p-0">C</td>
                  <td class="p-0">D</td>
                  <td class="p-0">E</td>
                </tr>
                <tr v-for="question in column.questions">
                  <td class="pl-2">${question < 9 ? '0'+(question+1) : (question+1)}</td>
                  <td><div class="circle"></div></td>
                  <td><div class="circle"></div></td>
                  <td><div class="circle"></div></td>
                  <td><div class="circle"></div></td>
                  <td><div class="circle"></div></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="row m-0 mt-2">
    <div class="col-12 p-0 d-flex justify-content-between title">
      <div class="black-square"></div>
      <p class="pt-2">Desenvolvido pela Lize - {% now "Y" %}</p>
      <div class="black-square"></div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock content %}

{% block extra-modal %}

{% endblock extra-modal %}

{% block js-additional %}


<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {},
    methods: {
      generateTables(columns = 6, questions = 90) {
        let questions_per_column = questions / columns;
        let object = {
          columns: () => {
            let colum = [];
            let questions = []
            let count = 0;
            for (let i = 0; i < columns; i++) {
              for (let j = 0; j < questions_per_column; j++) {
                questions.push(count);
                count++;
              }
              colum.push({
                title: `Questões de ${questions[0] < 9 ? '0' + (questions[0] + 1): questions[0] + 1} a ${questions[questions.length -1] + 1}`,
                questions: questions
              });
              questions = []
            }
            return colum;
          },
        }

        return object
      },
      truncStudentName(name, start=0, end=56) {
        if (name.length < 56) {
          name += ' '.repeat(56 - name.length)
        }
        return name.substring(start, end)
      },
    },
    mounted() {
      this.generateTables()
    }
  }) 
</script>
<script defer>
  document.addEventListener('DOMContentLoaded', function() {
    let loadedElement = document.createElement('div')
    loadedElement.id = 'loaded'
    document.body.appendChild(loadedElement)
  });
</script>
{% endblock %}