.btn-white-custom {
    color: #1c273c;
    background-color: #fff;
    border-color: #fff;
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px, rgb(51 65 85 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 1px 2px 0px;
}
.btn-white-custom:hover {
    color: #1c273c;
    background-color: #efefef;
    border-color: #dbdbdb;
}
.lize-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #E6E8EC;
    border-radius: 12px; 
}
.lize-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem; 
}
.lize-bd-primary {
    border: 1px solid #009EDD;
}
.lize-bg-warning {
    background-color: #FF8F3D !important;
}
.lize-text-warning {
    color: #FF8F3D !important;
}
.lize-text-primary {
    color: #0C7BDB !important;
}
.lize-bg-primary {
    background-color: #0C7BDB !important;
}
.lize-bg-warning-light {
    background-color: #f3b36416 !important;
}
.lize-bg-danger-light {
    background-color: #D92D2016 !important;
}
.lize-text-gray {
    color: #D2D6DB;
}
.lize-bd-warning {
    border: 1px solid #FF8F3D !important;
}
.lize-hover-primary:hover {
    border: 1px solid #009EDD !important;
}
.lize-hover-warning:hover {
    border: 1px solid #FF8F3D !important;
}
.lize-badge {
    padding: 2px 12px 2px 12px;
    border-radius: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
}
.lize-badge-danger {
    color: #D92D20;
    background-color: #D92D2016;
}
.skeleton-loader:empty {
    width: 100%;
    height: 8px;
    display: block;
    background: linear-gradient(
        to right,
        #e3e7ed,
        #cdd4e0 50%,
        #e3e7ed 100%
    ), lightgray;
    background-repeat: repeat-y;
    background-size: 800px 10px;
    background-position: 0 0;
    animation: shine .8s infinite;
    border-radius: 8px;
}

@keyframes shine {
    to {
        background-position: 100% 0;
    }
}

.lize-btn-primary {
    background-color: #0C7BDB;
    color: white;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 12px;
    height: 48px;
}
.lize-btn-primary:hover {
    color: white;
}

.lize-btn-warning {
    background-color: #FF8F3D;
    color: white;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 12px;
    height: 48px;
}
.lize-btn-warning:hover {
    color: white;
}

.lz-btn-outline-warning {
    border: 1px solid #FF8F3D;
    color: #FF8F3D;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 12px;
    height: 48px;
}
.lz-btn-outline-warning:hover {
    color: #FF8F3D;
}
.align-center {
    justify-content: center !important;
    align-items: center !important;
}
.dropup.show {
    margin-top: 100px !important;
}