[run]
omit =
    */migrations/*
    */venv/*
    */__pycache__/*
    */snippets/*
    */commands/*
    */tests/*
    */test_*
    */tests.py*
    */manage.py
    */wsgi.py
    */asgi.py
    */__init__.py

[report]
show_missing = True
skip_covered = True