.DS_Store
.vscode
.env
.env-test
.idea
.wfis
.venv
venv
*.sqlite3
*pyc
__pycache__
staticfiles/
*.pem
*.key
env/
media/
ngrok
secrets
secrets.yaml
*.dump
exam_answers/
tmp/
/*.csv
.scannerwork/
celerybeat-schedule
sql.log
node_modules/
.env-test
Makefile
sql.log
.coverage