{% extends 'redesign/base.html' %}
{% load static %}
{% load cleaned_params %}
{% load call_function_with_params %}
{% load get_value_from_dict %}
{% load permissions %}
{% load filter_inspector_subjects %}


{% block title %}Listagem de Alunos - Lize{% endblock title %}

{% block css-additional %}
<link href="{% static 'administration/lib/select2/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'administration/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="https://unpkg.com/@sjmc11/tourguidejs/dist/css/tour.min.css">
<style>
  .tg-backdrop{
    z-index: 9999 !important;
  }
  .select2-selection__choice__remove {
    display: none !important;
  }
  .dropdown-menu { margin-top: 0 !important; }
  .badge-redesign{
    display: inline-block;
    padding: 4px 8px;
    margin: 5px;
    border: 1px solid #FFDAB9;
    border-radius: 10px;
    background-color: #fff9ef; 
    font-size: 13.5px;
    color: #4F4F4F; 
    text-align: center;
  }
  .badge-redesign:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .extra-subjects {
    display: none;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1000;
  }

  .more-subjects {
    cursor: pointer;
    position: relative;
  }

  .more-subjects:hover .extra-subjects {
    display: block;
  }

  .modal-custom-height {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .select2-selection--multiple {
    border-radius: 8px !important;
    min-height: 38px;
    padding: 3px;
  }

  .text {
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

</style>

{% endblock %}


{% block content-fixed %}
<div class="tw-flex tw-justify-center">
  <div class="ard cer dcv tw-pb-8 tw-max-w-[100rem] tw-flex-1 tw-mb-16">
    <div class="ls" style="margin-top: 1.25rem; margin-bottom: 1.5rem; justify-content: space-between;">
      <div class="tw-flex tw-flex-wrap tw-items-center tw-gap-6 sm:tw-flex-nowrap tw-w-full">
        <h1 class="tw-text-xl tw-font-semibold tw-leading-7 tw-text-[#374151] sm:tw-truncate sm:tw-text-2xl sm:tw-tracking-tight tw-mb-0">
          Alunos
        </h1>  

        <div class="tw-order-last tw-flex tw-w-full tw-gap-x-8 tw-text-sm tw-font-semibold tw-leading-6 sm:tw-order-none sm:tw-w-auto sm:tw-border-l sm:tw-border-gray-200 sm:tw-pl-6 sm:tw-leading-7">
          <button type="button" data-toggle-off-canvas="#right-off-canvas" class="tw-flex tw-items-center tw-text-[#667085] tw-off-canvas-menu off-canvas-menu" id="headlessui-slider-over-button-1">
              <span>Filtrar</span>
              <span class="ml-2">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path d="M5 10H15M2.5 5H17.5M7.5 15H12.5" stroke="#FF8F3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </span>
          </button>
        </div>

        <div class="tw-ml-auto tw-flex tw-gap-3">
            {% if user|has_perm:'students.can_export_student' %}
              <button class="tw-flex tw-items-center tw-gap-x-1 tw-rounded-md tw-text-primary-600 tw-border tw-border-primary-600 tw-px-3 tw-py-2 tw-text-sm tw-font-semibold hover:tw-text-white tw-shadow-sm hover:tw-bg-primary-600 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-primary-600" type="button">
                <a href="{% url 'students:export_students_csv' %}?{{request.GET.urlencode}}" onclick="generateCSVFile(this.href)" title="Exporte alunos filtrados" style="color: inherit; text-decoration: none;">
                  Exportar alunos
                </a>
              </button>
            {% endif %}

            {% if user|has_perm:'students.can_import_student' %}
              <button class="tw-flex tw-items-center tw-gap-x-1 tw-rounded-md tw-text-primary-600 tw-border tw-border-primary-600 tw-px-3 tw-py-2 tw-text-sm tw-font-semibold hover:tw-text-white tw-shadow-sm hover:tw-bg-primary-600 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-primary-600" type="button">
                <a href="{% url 'students:students_import_v2' %}" title="Importar alunos" style="color: inherit; text-decoration: none;">
                  Importar alunos
                </a>
              </button>
            {% endif %}
            
          
          {% if user|has_perm:'students.add_student' %}
            <div>
              <a href="{% url 'students:students_create' %}" class="tw-flex tw-items-center tw-gap-x-1 tw-rounded-md tw-bg-blue-600 tw-px-3 tw-py-2 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-500 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-blue-600 hover:tw-text-white">
                Cadastrar Aluno
              </a>
            </div>
          {% endif %}              
        </div>
      </div>
    </div>

    <!-- Modal de filtros -->
    <div class="tw-relative tw-z-[1000] tw-off-canvas tw-off-canvas-right tw-invisible" aria-labelledby="slide-over-title" role="dialog" aria-modal="true" id="right-off-canvas">
      <div class="tw-fixed tw-inset-0 tw-bg-[#9BA3AF] tw-bg-opacity-60 tw-transition-opacity">
        <div class="tw-fixed tw-inset-0 tw-overflow-hidden">
          <div class="tw-absolute tw-inset-0 tw-overflow-hidden">
            <div class="tw-pointer-events-none tw-fixed tw-inset-y-0 tw-right-0 tw-flex tw-max-w-full tw-pl-10" v-click-outside="onClickOutsideFilters">
              <div class="tw-pointer-events-auto tw-w-screen tw-max-w-md">
                <div class="tw-flex tw-h-full tw-flex-col tw-divide-y tw-divide-gray-200 tw-bg-white tw-border-l">
                  <div class="tw-h-0 tw-flex-1 tw-overflow-y-auto">
                    <div class="tw-px-4 tw-pt-6 sm:tw-px-6">
                      <div class="tw-flex tw-items-center tw-justify-between">
                        <h2 class="tw-text-base tw-font-semibold tw-leading-6 tw-text-gray-900" id="slide-over-title">
                          Filtrar alunos
                        </h2>
                        <div class="tw-ml-3 tw-flex tw-h-7 tw-items-center">
                          <button type="button" class="tw-relative tw-rounded-md tw-bg-white tw-text-gray-400 hover:tw-text-gray-500 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-primary-500 focus:tw-ring-offset-2 tw-off-canvas-close" id="headlessui-slider-over-close-button-1">
                            <span class="tw-absolute tw--inset-2.5"></span>
                            <span class="tw-sr-only">Close panel</span>
                            <svg class="tw-h-6 tw-w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="tw-mt-1">
                        <p class="tw-text-sm tw-text-gray-500">
                          Adicione abaixo os filtros que você deseja aplicar na listagem.
                        </p>
                      </div>
                    </div>
                    <form id="filterForm" method="GET" class="tw-flex tw-flex-1 tw-flex-col tw-justify-between">
                      <div class="tw-divide-y tw-divide-gray-200 tw-px-4 sm:tw-px-6">
                          <div class="tw-space-y-6 tw-pb-5 tw-pt-6">

                              <div class="form-group mb-3">
                                <label for="application_name_id" class="mb-1">Nome do aluno</label>
                                <input type="text" value="{{q_name}}" id="application_name_id" name="q_name" class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 placeholder:tw-text-gray-400 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" placeholder="Digite o nome do aluno">
                              </div>

                              <div class="form-group mb-3">
                                <label for="name_id" class="mb-1">Matrícula</label>
                                <input type="text" value="{{q_enrollment}}" id="name_id" name="q_enrollment" placeholder="Digite o nome a matrícula" class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 placeholder:tw-text-gray-400 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6">
                              </div>

                              <div class="form-group mb-3">
                                <label for="classe_id" class="mb-1">Turmas</label>
                                <select name="q_classes" id="classe_id" multiple="multiple" class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6">
                                  {% for classe in classes %}
                                  <option value="{{classe.pk}}" data-name="{{classe.name}}" {% if classe.pk|stringformat:'s' in q_classes %}selected="selected" {% endif %}>
                                    {{ classe.name }} - {{ classe.coordination__unity__name}}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-12">
                                <div class="custom-control custom-switch">
                                  <input {% if q_duplicated %}checked="checked"{% endif %} type="checkbox" id="q_duplicated_id" name="q_duplicated" class="custom-control-input">
                                  <label class="custom-control-label" for="q_duplicated_id">Apenas alunos duplicados</label>
                                  <br>
                                  <small class="text-muted">Alunos com a mesma matrícula</small>
                                </div>
                              </div>
                              
                              <div class="col-12 mt-1">
                                <div class="custom-control custom-switch">
                                  <input {% if q_without_classes %}checked="checked"{% endif %} type="checkbox" id="q_without_classes_id" name="q_without_classes" class="custom-control-input">
                                  <label class="custom-control-label" for="q_without_classes_id">Apenas alunos sem turma</label>
                                  <br>
                                  <small class="text-muted">Alunos sem turmas cadastradas</small>
                                </div>
                              </div>
                      
                              <div class="col-12 mt-1">
                                <div class="custom-control custom-switch">
                                  <input {% if q_deactivated %}checked="checked"{% endif %} type="checkbox" id="q_deactivated_id" name="q_deactivated" class="custom-control-input">
                                  <label class="custom-control-label" for="q_deactivated_id">Apenas alunos desativados</label>
                                  <br>
                                  <small class="text-muted">Alunos com usuário desativado</small>
                                </div>
                              </div>
                              <div class="col-12 mt-1">
                                <div class="custom-control custom-switch">
                                  <input {% if q_activated_and_deactivated%}checked="checked"{% endif %} type="checkbox" id="q_activated_and_deactivated" name="q_activated_and_deactivated" class="custom-control-input">
                                  <label class="custom-control-label" for="q_activated_and_deactivated">Alunos ativos e desativados</label>
                                  <br>
                                  <small class="text-muted">Alunos com usuário ativo e desativado</small>
                                </div>
                              </div>
                              <div class="col-12 mt-1">
                                <div class="custom-control custom-switch">
                                  <input {% if q_more_classes%}checked="checked"{% endif %} type="checkbox" id="q_more_classes" name="q_more_classes" class="custom-control-input">
                                  <label class="custom-control-label" for="q_more_classes">Alunos em mais de uma turma</label>
                                  <br>
                                  <small class="text-muted">Alunos com mais de uma turma no ano vigente</small>
                                </div>
                              </div>
                              <div class="col-12 mt-1">
                                <div class="custom-control custom-switch">
                                  <input {% if q_is_atypical %}checked="checked"{% endif %} type="checkbox" id="q_is_atypical" name="q_is_atypical" class="custom-control-input">
                                  <label class="custom-control-label" for="q_is_atypical">Alunos atípicos</label>
                                  <br>
                                  <small class="text-muted">Alunos que possuem necessidades de aprendizagem diferentes do padrão</small>
                                </div>
                              </div>

                
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="tw-flex tw-flex-wrap tw-space-y-3 sm:tw-space-x-3 sm:tw-space-y-0 tw-px-4 tw-py-4">
                    <button type="submit" class="tw-inline-flex tw-w-full tw-flex-shrink-0 tw-items-center tw-justify-center tw-rounded-md tw-bg-blue-600 tw-px-3 tw-py-2 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-500 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-blue-600 sm:tw-flex-1" form="filterForm">
                      Aplicar filtro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="tw-bg-white sm:tw-rounded-lg tw-py-5 tw-border tw-border-[#E5E7EA] tw-mb-4" v-if="this.selectedFilters.some(filter => filter.value)">
    <div class="tw-px-4 sm:tw-px-6 lg:tw-px-8" >
      <div class="tw-flex tw-justify-between">
        <div class="tw-flex tw-items-center">
          <p class="tw-pl-4 tw-pr-3 tw-m-0 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900 sm:tw-pl-0">
            Filtrando por
          </p>
          <div v-for="filter in selectedFilters" class="tw-space-x-2 tw-mr-2" v-if="filter.value">
            <span class="tw-inline-flex tw-items-center tw-gap-x-0.5 tw-rounded tw-bg-[#F9FAFA] tw-px-2 tw-py-1 tw-text-xs tw-font-medium tw-text-[#384250]">
              <button @click="removeFilter(filter.nameFilter)" type="button" class="tw-group tw-relative tw--ml-1 tw-h-3.5 tw-w-3.5 tw-rounded-sm hover:tw-bg-gray-500/20">
                <span class="tw-sr-only">Remove</span>
                <svg viewBox="0 0 14 14" class="tw-h-3.5 tw-w-3.5 tw-stroke-gray-700/50 group-hover:tw-stroke-gray-700/75">
                  <path d="M4 4l6 6m0-6l-6 6" />
                </svg>
                <span class="tw-absolute tw--inset-1"></span>
              </button>
              ${filter.nameDescription} ${filter.value}
            </span>
          </div>
        </div>
        <div class="tw-flex tw-items-center">
          <button type="button" class="tw-text-left tw-text-sm tw-font-semibold tw-text-[#667085] tw-flex tw-items-center" @click="cleanFilter">
            Limpar filtro
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="tw-ml-2">
              <path d="M15 5L5 15M5 5L15 15" stroke="#FF8F3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

    <div class="tw-bg-white sm:tw-rounded-lg tw-pt-5 tw-border tw-border-[#E5E7EA]">
      <div class="tw-px-4 sm:tw-px-6 lg:tw-px-8">
        <div class="tw-flow-root">
          <div class="tw--mx-4 tw--my-2 tw-overflow-x-auto sm:tw--mx-6 lg:tw--mx-8">
            <div class="tw-inline-block tw-min-w-full tw-py-2 tw-align-middle sm:tw-px-6 lg:tw-px-8">
              <div class="tw-relative">
                <div v-if="selectionList.length > 0" class="tw-absolute tw-top-0 tw-left-14 tw-flex tw-h-12 tw-items-center tw-space-x-3 tw-bg-white sm:tw-left-12">
                  <button type="button" 
                    @click="handleResetMAssive"
                    class="tw-inline-flex tw-items-center tw-rounded tw-bg-white tw-px-2 tw-py-1 tw-text-sm tw-font-semibold tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 hover:tw-bg-gray-50 disabled:tw-cursor-not-allowed disabled:tw-opacity-30 disabled:hover:tw-bg-white" 
                    >Resetar senha
                  </button>
                </div>
                <table class="tw-min-w-full tw-table-fixed tw-divide-y tw-divide-gray-300">
                  <thead>
                    <tr>
                      <th v-if="allStudents.length" data-tg-title="Selecione vários" data-tg-order="2" data-tg-tour="Selecione vários membros ao mesmo tempo e aplique ações em massa." data-tg-group="default-member-list" scope="col" class="tw-relative tw-px-7 sm:tw-w-12 sm:tw-px-6">
                        <input type="checkbox" 
                        :indeterminate.prop="selectionList.length > 0 && selectionList.length < allStudents.length"
                        :checked="selectionList.length === allStudents.length"
                        @change="selectOrDeselectAll()"
                        class="tw-absolute tw-left-4 tw-top-1/2 tw--mt-2 tw-h-4 tw-w-4 tw-rounded tw-border-gray-300 tw-text-primary-600 focus:tw-ring-primary-600"/>
                      </th>
                      <th scope="col" class="tw-min-w-[12rem] tw-py-3.5 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900">Nome</th>
                      <th scope="col" class="tw-px-3 tw-py-3.5 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900">Email</th>
                      <th scope="col" class="tw-px-3 tw-py-3.5 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900">Turmas</th>
                      <th scope="col" class="tw-relative tw-py-3.5 tw-pl-3 tw-pr-4 sm:tw-pr-3">
                        <span class="tw-sr-only">Ações</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="tw-divide-y tw-divide-gray-200 tw-bg-white">
                    {% for student in object_list %}
                      
                        <tr id="tr-{{ student.pk }}" :class="[selectionList.includes('{{ student.pk }}') && 'bg-gray-50']">
                          <td class="tw-relative tw-px-7 sm:tw-w-12 sm:tw-px-6">
                            <div v-if="selectionList.includes('{{ student.pk }}')"  class="tw-absolute tw-inset-y-0 tw-left-0 tw-w-0.5 tw-bg-primary-600"></div>
                            <input type="checkbox" class="tw-absolute tw-left-4 tw-top-1/2 tw--mt-2 tw-h-4 tw-w-4 tw-rounded tw-border-gray-300 tw-text-primary-600 focus:tw-ring-primary-600" value="{{ student.pk }}" v-model="selectionList" />
                          </td>
                          <td class='tw-py-4 tw-pr-3 tw-text-sm tw-font-medium tw-text-gray-900'>
                            <div class="tw-font-medium tw-text-gray-900">{{ student.name }}</div>
                            {% if student.enrollment_number %}
                            <div class="tw-flex tw-mt-1"  >

                              <div class="tw-flex tw-items-center tw-mr-2" data-toggle="tooltip" title="Matrícula">
                                <span class="mr-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" stroke="#D2D6DB" width="16" fill="#D2D6DB" height="16" class="bi bi-info-circle" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path d="M512 80c8.8 0 16 7.2 16 16l0 320c0 8.8-7.2 16-16 16L64 432c-8.8 0-16-7.2-16-16L48 96c0-8.8 7.2-16 16-16l448 0zM64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM208 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16l192 0c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80l-64 0zM376 144c-13.3 0-24 10.7-24 24s10.7 24 24 24l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0z"/></svg>
                                </span>
                                <span class="tw-text-sm tw-text-[#9BA3AF]">{{student.enrollment_number}}</span>
                              </div>
                              
                              {% if q_deactivated or q_activated_and_deactivated %}
                              <div class="tw-flex tw-items-center tw-mr-2" data-toggle="tooltip" title="Status">
                                <span class="mr-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#D2D6DB" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path fill="#000000" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path fill="#D2D6DB" d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                                </span>
                                {% if student.user_is_active %}
                                <span class="tw-text-sm tw-text-[#9BA3AF]">Ativado</span>
                                {% else %}
                                <span class="tw-text-sm tw-text-[#9BA3AF]">Desativado</span>
                                {% endif %}
                              </div>
                              {% endif %}
                              
                            </div>
                            {% endif %}
                          </td>
                          <td class='tw-py-4 tw-pr-3 tw-text-sm tw-font-medium tw-text-gray-900'>
                            <div class="tw-font-medium tw-text-gray-900">{{ student.email }}</div>
                          </td>
                          <td>
                            {% for classe in student.get_classes_current_year %}
                              <span class="badge badge-light">{{classe}}</span>
                            {% endfor %}
                            {% if student.candidate %}
                            <span class="badge badge-success">Candidato</span>
                            {% endif %}

                          </td>
                          <td class="tw-whitespace-nowrap tw-py-4 tw-pl-3 tw-pr-4 tw-text-sm tw-font-medium sm:tw-pr-3">
                            <div class="tw-flex tw-items-center tw-justify-end tw-space-x-4">
                                <a href="{% url 'students:students_detail' student.pk %}" class="nav-link d-none d-sm-block  tw-rounded-full tw-bg-[#F9FAFA] tw-p-2 tw-text-primary-600 tw-shadow-sm hover:tw-bg-[#fff4ec] focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:outline-offset-2 focus-visible:tw-outline-[#ffdec7]" data-toggle="tooltip" data-placement="top" title="Detalhar Aluno">
                                    <i class="fas fa-chart-bar"></i>
                                  </a>  
                              {% if user|has_perm:'students.change_student' %}
                              <a href="{% url 'students:students_update' student.pk %}{% if params%}?{{params}}{% endif %}" class="tw-rounded-full tw-bg-[#F9FAFA] tw-p-2 tw-text-primary-600 tw-shadow-sm hover:tw-bg-[#fff4ec] focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:outline-offset-2 focus-visible:tw-outline-[#ffdec7]" data-toggle="tooltip" data-placement="top" title="Alterar Aluno">
                                <svg class="tw-h-5 tw-w-5" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M11 3.99998H6.8C5.11984 3.99998 4.27976 3.99998 3.63803 4.32696C3.07354 4.61458 2.6146 5.07353 2.32698 5.63801C2 6.27975 2 7.11983 2 8.79998V17.2C2 18.8801 2 19.7202 2.32698 20.362C2.6146 20.9264 3.07354 21.3854 3.63803 21.673C4.27976 22 5.11984 22 6.8 22H15.2C16.8802 22 17.7202 22 18.362 21.673C18.9265 21.3854 19.3854 20.9264 19.673 20.362C20 19.7202 20 18.8801 20 17.2V13M7.99997 16H9.67452C10.1637 16 10.4083 16 10.6385 15.9447C10.8425 15.8957 11.0376 15.8149 11.2166 15.7053C11.4184 15.5816 11.5914 15.4086 11.9373 15.0627L21.5 5.49998C22.3284 4.67156 22.3284 3.32841 21.5 2.49998C20.6716 1.67156 19.3284 1.67155 18.5 2.49998L8.93723 12.0627C8.59133 12.4086 8.41838 12.5816 8.29469 12.7834C8.18504 12.9624 8.10423 13.1574 8.05523 13.3615C7.99997 13.5917 7.99997 13.8363 7.99997 14.3255V16Z" stroke="#FF8F3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </a>
                              {% endif %}

                              <button 
                                class="tw-inline-flex tw-w-full tw-justify-center tw-gap-x-1.5 tw-rounded-md tw-bg-white tw-px-3 tw-py-2 tw-text-sm tw-font-semibold tw-text-[#667085] tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 hover:tw-bg-gray-50" 
                                type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opções
                                <svg class="tw--mr-1 tw-h-5 tw-w-5 tw-text-primary-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                              </button>

                              <div class="dropdown-menu" style="position: relative !important;" aria-labelledby="dropdownMenuButton">

                                {% if user|has_perm:'students.can_reset_password' %}
                                  <a href="javascript:void(0)" @click="reset('{% url 'students:students_reset' student.pk %}?{% if params %}{{params}}{% endif %}', '{{student.email}}', '{{student.enrollment_number}}')" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Resetar senha do aluno">
                                    <i class="fas fa-key"></i> Resetar Senha
                                  </a>
                                {% endif %}

                                {% if user|has_perm:'students.can_active_student' %}
                                  {% if student.user.is_active%}
                                  <a href="javascript:void(0)" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Remover aluno" @click="deactivateStudent('{{student.id}}', '{{student.name|escapejs}}', '{{student.enrollment_number}}', true)" data-toggle="tooltip" data-placement="top" title="Deletar">
                                    <i class="fas fa-trash"></i> Desativar aluno
                                  </a>
                                  {% else %}
                                    <a href="javascript:void(0)" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Remover aluno" @click="deactivateStudent('{{student.id}}', '{{student.name|escapejs}}', '{{student.enrollment_number}}', false)" data-toggle="tooltip" data-placement="top" title="Deletar">
                                        <i class="fas fa-trash"></i> Ativar aluno
                                    </a>
                                    {% endif %}
                                {% endif %}

                                {% if user|has_perm:'accounts.can_use_hijack' %}
                                <form action="{% url 'core:hijack-login-user' %}" method="POST" class="tw-flex tw-items-center ">
                                  {% csrf_token %}
                                  {% if student.user %}
                                    <input type="hidden" name="user_pk" value="{{ student.user.pk }}">
                                  {% endif %}
                                  <input type="hidden" name="next" value="{{ request.path }}">
                                  <button type="submit" class="dropdown-item nav-link" data-toggle="tooltip" data-placement="top" title="Entrar com o aluno">
                                    <i class="fas fa-sign-in-alt"></i> Logar com o aluno
                                  </button>
                                </form>
                                {% endif %}

                                <input type="hidden" id="teacherEmail-{{ student.pk }}" name="teacherEmail-{{ student.pk }}" value="{{ student.email }}" />
                              </div>
                            </div>
                          </td>
                        </tr>
                      
                    {% empty %}
                      <tr>
                        <td colspan="4"><p class="tw-py-4">Não há alunos cadastrados</p></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered max-w-[400px]" role="document">
                    <div class="modal-content modal-custom-height">
            
                      <div class="modal-header tw-pb-0">
                        <h5 class="modal-title" id="modalLabel">Resetar Senha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
            
                      <div class="modal-body">
                        <h4></h4>
                        <p>
                          Resetar a senha de acesso para 
                          <span class="tw-font-semibold">
                            <span v-if="selectionList.length === 1">o aluno selecionado?</span>
                            <span v-else>os ${ selectionList.length } alunos selecionados?</span>.
                          </span>
                        </p>                                               
                        <div class="tw-relative">
                          <div class="row mb-0">
                            <div class="col">
                              <!-- <select name="selectPermissionsChange" id="select-permission-change" multiple>
                                <option :value="group.id" v-for="group in groups">${group.name}</option>
                              </select> -->
                              <ul>
                                <li v-for="student in selectionList">${student}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <div class="modal-footer tw-flex" style="justify-content: space-between;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Voltar</button>
                        <button @click="resetMassiveStudentsPassword" type="button" data-dismiss="modal" class="tw-inline-flex tw-justify-center tw-rounded-md tw-bg-blue-600 tw-px-3 tw-py-2 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-500 not-disable">
                          Concluir
                        </button>
                      </div>
            
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% include 'redesign/includes/pagination.html' with objects=object_list %}
      </div>
    </div>
  </div>
</div>
{% endblock content-fixed %}

{% block extra-modal %}
  {% include 'includes/confirm_modal.html' %}
{% endblock extra-modal %}

{% block js-additional %}
<script src="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'administration/lib/select2/js/select2.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'js/tippy/popper.min.js' %}"></script>
<script src="{% static 'js/tippy/tippy.min.js' %}"></script>
<script src="{% static 'administration/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
<script src="{% static 'administration/lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="https://unpkg.com/@sjmc11/tourguidejs/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  var app = new Vue({
    delimiters: ['${', '}'],
    components: {
      {% include 'includes/components/vue-filters.html' %}
    },
    el: '#app',
    data: {
      
      allStudents: [
          {% for student in object_list %}
            { pk: "{{ student.pk }}", name: "{{student.name}}" },
          {% endfor %}
        ],
      pages: [
        {% for page in object_list %}
          { 
            pk: "{{ page.pk }}", 
          },
        {% endfor %}
      ],
      selectionList: [],
      selectedFilters: [
        {nameDescription: 'Nome:', value: "{{ q_name }}", nameFilter: 'q_name'},
        {nameDescription: 'Matrícula:', value: "{{ q_enrollment }}", nameFilter: 'q_enrollment'},
        {nameDescription: 'Turmas:', value: "{%if q_classes|length > 0%}{{ q_classes|length }}{%endif%}", nameFilter: 'q_classes'},
        {nameDescription: 'Alunos duplicados', value: "{% if q_duplicated %} {%endif%}", nameFilter: 'q_duplicated'},
        {nameDescription: 'Alunos sem turma', value: "{% if q_without_classes %}  {%endif%}", nameFilter: 'q_without_classes'},
        {nameDescription: 'Alunos desativados', value: "{% if q_deactivated %}  {%endif%}", nameFilter: 'q_deactivated'},
        {nameDescription: 'Alunos ativos e desativados', value: "{% if q_activated_and_deactivated %}  {%endif%}", nameFilter: 'q_activated_and_deactivated'},
        {nameDescription: 'Alunos atípicos', value: "{% if q_is_atypical %}  {%endif%}", nameFilter: 'q_is_atypical'},
      ]

    },
    methods: {
      addSetPermissionsTeacher() {
        const url = "{% url 'api2:permissions-change-groups-set' %}"
        const teacherPksForChange = this.selectionList
        const groupsPksForChange = $('#select-permission-change').val()

        axios.patch(url, {
          "users": teacherPksForChange,
          "groups": groupsPksForChange
        }
        ).then((response) => {
          this.alertTop('Permissões alteradas com sucesso!')
        }).catch((error) => {
          this.alertTop('Erro ao alterar permissões!')
        })
      },

      resetMassiveStudentsPassword(){
        const url = "{% url 'students:students_massive_reset_password'%}"

        axios.post(url, {
          "students_ids": this.selectionList
        }).then((response) => {
          this.alertTop(response.data.detail,)
        }).catch((error) =>{
          this.alertTop(error)
        })

      },

      handleResetMAssive() {
        let message = ''
        if(this.selectionList.length > 1) {
          message = `
            As senhas dos alunos selecionados serão redefinidas para o e-mail cadastrado de cada um.
            <br>
            <br>
            Eles poderão acessar o sistema utilizando:
            <br>
            <br>
            O <strong>e-mail</strong> ou o <strong>nome do usuário</strong> como login
            <br>
            <br>
            e a nova senha que será o <strong>(e-mail)</strong>
          `
        } else {
          message = `
            A senha será redefinida e passará a ser o e-mail cadastrado do aluno selecionado.
            <br>
            <br>
            Ele poderá acessar o sistema utilizando:
            <br>
            <br>
            O <strong>e-mail</strong> ou o <strong>nome do usuário</strong> como login
            <br>
            <br>
            e a nova senha que será o <strong>(e-mail)</strong>
          `
        }

        Swal.fire({
          title: 'Atenção!',
              html: `${message}
              <br /><br /><strong>Você tem certeza que deseja completar essa ação?</strong>`,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonText: 'Cancelar',
              confirmButtonText: 'Resetar',
        }).then(result =>{
          if (result.isConfirmed) {
            this.resetMassiveStudentsPassword()
          }
        })
      },
      
      deactivateStudent(pk, name, enrollment_number, is_active){
        if(is_active){
            Swal.fire({
              title: 'Atenção!',
              html: `O aluno <strong>${name}</strong> com matrícula <strong>${enrollment_number}</strong> terá seu usuário desativado. <br /><br />
                    <strong>Você tem certeza que deseja completar essa ação?</strong>`,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'Desativar aluno',
              cancelButtonText: 'Cancelar',
              }).then((result) => {
                if (result.isConfirmed) {
                  axios.post(`{% url 'students:deactivate-student' student_pk='00000000-0000-0000-0000-000000000000' %}`.replace('00000000-0000-0000-0000-000000000000', pk)).then((res) => {
                    window.location.href = res.data
                  })
                }
            })
          }else{
            axios.post(`{% url 'students:deactivate-student' student_pk='00000000-0000-0000-0000-000000000000' %}`.replace('00000000-0000-0000-0000-000000000000', pk)).then((res) => {
              window.location.href = res.data
            })      
          }
      },
      getGroup(groupID) {
        return this.groups.find(group => group.id == groupID)
      },
      selectOrDeselectAll() {
        if (this.selectionList.length == this.allStudents.length) {
          this.selectionList = []
          return
        }
        this.selectionList = this.allStudents.map(student => student.pk)
      },
      onClickOutsideFilters(event) {
        const target = event.target
        const button = document.getElementById('headlessui-slider-over-button-1')

        const select2DropdownAbove = document.getElementsByClassName('select2-dropdown--above')[0]
        const select2DropdownBelow = document.getElementsByClassName('select2-dropdown--below')[0]
        if (select2DropdownAbove || select2DropdownBelow) {
          return
        }

        if (!(target === button || button.contains(target))) {
          const rightOffCanvasContent = document.getElementById('right-off-canvas')
          if (rightOffCanvasContent.classList.contains('tw-show')) {
            rightOffCanvasContent.classList.remove('tw-show')
          }
        }
      },
      reset(url, email) {
        Swal.fire({
          title: 'Informação importante!',
          html: `Você resetará o acesso do aluno para os seguintes dados <br /> <br />
                <strong>Usuário:</strong> ${email} <br /><strong>Senha:</strong> ${email}`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'Ok, Resetar!'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = url
            }
        })
      },
      removeFilter(filter) {
        const url = new URL(window.location.href);
        const urlParams = url.searchParams;
        urlParams.delete(filter);
        url.search = urlParams.toString();
        window.location.href = url.href;
      },
      alertTop(text) {
        Swal.fire({
          position: 'top-end',
          text: text,
          icon: 'success',
          showConfirmButton: false,
          timer: 1500,
          toast: true,
          timerProgressBar: true,
        })
      },
      cleanFilter() {
        window.location.href = '{% url "students:students_list" %}';
      },

    },
    mounted() {

      
      $('#classe_id').select2({
        placeholder: "Selecione uma opção",
        closeOnSelect: false,
      });

      $('#coordination_id').select2({
        placeholder: "Selecione uma opção",
        closeOnSelect: false,
      });

      $('#unit_id').select2({
        placeholder: "Selecione uma opção",
        closeOnSelect: false,
      });
    
    
      $('.tw-off-canvas-menu').on('click', function (e) {
        e.preventDefault();
        var target = $(this).attr('data-toggle-off-canvas');
        $(target).addClass('tw-show');
      });
  
      $('.tw-off-canvas .tw-off-canvas-close').on('click', function (e) {
        e.preventDefault();
        $(this).closest('.tw-off-canvas').removeClass('tw-show');
      })
        
      $('#select-grades').select2({
        width: '100%', closeOnSelect: false,
        language: {
          noResults: function() {
            return "Nenhum resultado encontrado";
          },},
      })


    },
    computed: {

      isIndeterminate() {
        return this.selectionList.length > 0 && this.selectionList.length < this.pages.length
      },
    },
    directives: {
      'click-outside': {
        bind: function(el, binding, vNode) {
          // Provided expression must evaluate to a function.
          if (typeof binding.value !== 'function') {
            const compName = vNode.context.name
            let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
            if (compName) { warn += `Found in component '${compName}'` }

            console.warn(warn)
          }
          // Define Handler and cache it on the element
          const bubble = binding.modifiers.bubble
          const handler = (e) => {
            if (bubble || (!el.contains(e.target) && el !== e.target)) {
              binding.value(e)
            }
          }
          el.__vueClickOutside__ = handler

          // add Event Listeners
          document.addEventListener('click', handler)
        },

        unbind: function(el, binding) {
          // Remove Event Listeners
          document.removeEventListener('click', el.__vueClickOutside__)
          el.__vueClickOutside__ = null
        }
      }
    },
  })
  function generateCSVFile(link) {
    Swal.fire({
      title: "Gerando Exportação dos Dados",
      html: "Estamos gerando o arquivo CSV com a lista de alunos, aguarde um momento.",
      timerProgressBar: true,
      showConfirmButton: false
    });
    swal.showLoading();

    var xhr = new XMLHttpRequest();
    xhr.open('HEAD',link, true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            Swal.close(); 
            if (xhr.status === 200) {
              Swal.fire({
                icon: 'success',
                title: 'Download Concluído!',
                text: 'Seu arquivo CSV foi gerado com sucesso.',
              });
            } else {
              Swal.fire({
                icon: 'erro',
                title: 'Falha ao realizar Download!',
                text: 'Ocorreu um erro ao gerar sua exportação, por favor, tente novamente.',
              });
            }
        }
    };
    xhr.send();
  }


</script>
{% endblock %}

