{% extends 'redesign/base.html' %}
{% comment %} {% extends 'dashboard/base_fixed.html' %} {% endcomment %}
{% load static %}
{% load permissions %}

{% block title %}Listagem de alunos - Lize{% endblock title %}

{% block css-additional %}

<link href="{% static 'administration/lib/select2/css/select2.min.css' %}" rel="stylesheet" />

<link href="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

<style>
  .select2-selection__choice__remove{
    display: none !important;
  }
</style>
{% endblock %}

{% comment %}
{% block breadcrumb-fixed %}
  
  <div class="row mg-b-20 mg-lg-b-25 mg-xl-b-10">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item"><a href="#">ALUNOS</a></li>
          <li class="breadcrumb-item active" aria-current="page">LISTAGEM</li>
        </ol>
      </nav> 
      <h4>Seus alunos</h4>
    </div>
    
    <div class="col-12">
        <form method="GET">
          <div class="form-group row m-0 d-flex align-items-center justify-content-between">
            <div class="col-6 col-xl-6 px-0">
              <input class="form-control form-control-sm" type="text" name="q_name" value="{{q_name}}" placeholder="Busque pelo nome ou email do aluno">
            </div>
            <div class="col-3 col-xl-2">
              <button class="btn btn-primary btn-sm" type="submit">
                <i class="fas fa-search d-block d-sm-block d-md-block d-lg-none"></i>
                <span class="d-none d-lg-block d-xl-block"><i class="fas fa-search"></i> Filtrar</span>
              </button>
            </div>
            <div class="col-3 col-xl-4 text-right">
              {% if user|has_perm:'students.add_student' %}
                <a href="{% url 'students:students_create' %}" class="btn btn-sm pd-x-15 btn-primary btn-uppercase">
                  <i data-feather="plus" class="d-block d-sm-block d-md-none"></i> 
                  <span class="d-none d-md-block d-lg-none"><i data-feather="plus"></i> Aluno</span> 
                    <span class="d-none d-lg-block d-xl-block"><i data-feather="plus" class="mg-r-5"></i> Adicionar Aluno</span>
                </a> 
              {% endif %}
            </div>
          </div>
        </form>
    </div>
    
  </div>
{% endblock breadcrumb-fixed %}
{% endcomment %}

{% block content-fixed %}
  <div class="ard cer dcv tw-mb-16">
    <div class="ls" style="margin-top: 1.25rem; margin-bottom: 1rem; justify-content: space-between;">
      <div style="flex: 1;">
        <form method="GET">
          <div class="form-group row m-0 d-flex align-items-center">
            <div class="col-9 col-xl-9 px-0">
              <input class="form-control form-control-sm" type="text" name="q_name" value="{{q_name}}" placeholder="Busque pelo nome do aluno">
            </div>
            <div class="col-3 col-xl-2">
              <button class="btn btn-primary btn-sm d-flex align-items-center" type="submit">
                <i class="fas fa-search"></i>
              <span class="tw-ml-2 d-none d-lg-inline d-xl-inline">Filtrar</span>
            </button>
            </div>
          </div>
        </form>
      </div>
      <div>
        {% if user|has_perm:'students.can_export_student' %}
            <a href="{% url 'students:export_students_csv' %}?{{request.GET.urlencode}}" onclick="generateCSVFile(this.href)"class="btn btn-sm pd-x-15 btn-secondary btn-uppercase">
              <i data-feather="plus" class="d-block d-sm-block d-md-none"></i> 
              <span class="d-none d-md-block d-lg-none"><i data-feather="download-cloud"></i> Aluno</span> 
              <span class="d-none d-lg-block d-xl-block"><i data-feather="download-cloud" class="mg-r-5"></i> Exportar Aluno</span>
            </a>
        {% endif %}
        {% if user|has_perm:'students.can_import_student' %}
          <a href="{% url 'students:students_import_v2' %}" class="btn btn-sm pd-x-15 btn-secondary btn-uppercase">
            <i data-feather="plus" class="d-block d-sm-block d-md-none"></i> 
            <span class="d-none d-md-block d-lg-none"><i data-feather="upload"></i> Aluno</span> 
            <span class="d-none d-lg-block d-xl-block"><i data-feather="upload" class="mg-r-5"></i> Importar Alunos</span>
          </a>
        {% endif %}
        {% if user|has_perm:'students.add_student' %}
          <a href="{% url 'students:students_create' %}" class="btn btn-sm pd-x-15 btn-primary btn-uppercase">
            <i data-feather="plus" class="d-block d-sm-block d-md-none"></i> 
            <span class="d-none d-md-block d-lg-none"><i data-feather="plus"></i> Aluno</span> 
            <span class="d-none d-lg-block d-xl-block"><i data-feather="plus" class="mg-r-5"></i> Adicionar Aluno</span>
          </a>
        {% endif %}
      </div>
    </div>
<div class="row">

    <div class="col-md-12">
        <div class="card mg-b-10">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
              <div>
                <h6 class="mg-b-5">Alunos</h6>
                <p class="tx-13 tx-color-03 mg-b-5">Visualize os alunos da sua instituição abaixo</p>
              </div>
              <div class="float-right text-right">

                <button data-toggle-off-canvas="#right-off-canvas"
                  class="btn btn-sm btn-info btn-icon rounded-pill off-canvas-menu  mb-2">
                  <i class="fas fa-search"></i> Filtrar listagem 
                  
                  {% if count_filters > 0 %}
                  <span class="badge badge-danger">{{count_filters}} Aplicado(s)</span>
                  {% endif %}

                </button>
                {% if count_filters > 0 %}
                <a href="{% url 'students:students_list' %}" class="btn btn-sm btn-info btn-icon rounded-pill mb-2">
                  <i class="fas fa-eraser"></i> Apagar filtro(s)
                </a>
                {% endif %}
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-dashboard mg-b-1">
                <thead>
                  <tr>
                    <th>Nome do aluno</th>
                    <th>Email</th>
                    <th>Turmas</th>
                    <th class="text-wrap"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in object_list %}
                    <tr>
                      <td class="tx-medium">
                          {{ student.name|upper }}<br/>
                          <span class="text-muted">{{student.enrollment_number}}</span>
                      </td>
                      <td class="tx-medium">
                        {{ student.email }}<br/>
                        </td>
                      <td class="">
                        {% for class in student.get_classes_current_year %}
                          <span class="badge badge-light">{{ class }}</span>
                        {% endfor %}
                        {% if student.candidate %}
                        <span class="badge badge-success">Candidato</span>
                        {% endif %}
                      </td>
                      <td class="text-wrap">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opções
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="{% url 'students:students_detail' student.pk %}" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Detalhar Aluno">
                              <i class="fas fa-chart-bar"></i> Detalhes
                            </a>  
                            {% if user|has_perm:'students.change_student' %}
                              <a href="{% url 'students:students_update' student.pk %}{% if params%}?{{params}}{% endif %}" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Editar Aluno">
                                <i class="fas fa-edit"></i> Editar
                              </a>
                            {% endif %}
                            {% comment %}
                              {% if user|has_perm:'accounts.can_change_permissions' %}
                                <a href="{% url 'accounts:user_permissions' student.user.pk %}" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Alter permissões">
                                  <i class="fas fa-user-lock"></i> Permissões
                                </a>
                              {% endif %}
                            {% endcomment %}
                            <input type="hidden" id="studentEmail-{{ student.pk }}" name="studentEmail-{{ student.pk }}" value="{{ student.email }}" />
                            <input type="hidden" id="studentEnrollmentNumber-{{ student.pk }}" name="studentEnrollmentNumber-{{ student.pk }}" value="{{ student.enrollment_number }}" />
                            {% if user|has_perm:'students.can_reset_password' %}
                              <a href="javascript:void(0)" onClick="reset('{% url 'students:students_reset' student.pk %}?{% if params %}{{params}}{% endif %}', '{{student.email}}', '{{student.enrollment_number}}')" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Resetar senha do aluno">
                                <i class="fas fa-key"></i> Resetar Senha
                              </a>
                            {% endif %}
                            
                            {% if user|has_perm:'students.can_active_student' %}
                              {% if student.user.is_active %}
                                <a href="javascript:void(0)" onClick="deactivateStudent('{{student.id}}', '{{student.name}}', '{{student.enrollment_number}}', true)" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Desativar usuário do aluno">
                                  <i class="fas fa-ban"></i> Desativar aluno
                                </a>
                              {% else %}
                                <a href="javascript:void(0)" onClick="deactivateStudent('{{student.id}}', '{{student.name}}', '{{student.enrollment_number}}', false)" class="nav-link d-none d-sm-block" data-toggle="tooltip" data-placement="top" title="Ativar usuário do aluno">
                                  <i class="fas fa-check"></i> Ativar aluno
                                </a>
                              {% endif %}
                            {% endif %}
                            {% if user|has_perm:'accounts.can_use_hijack' %}
                              <form action="{% url 'core:hijack-login-user' %}" method="POST" class="tw-flex tw-items-center ">
                                {% csrf_token %}
                                <input type="hidden" name="user_pk" value="{{ student.user.pk }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="dropdown-item nav-link" data-toggle="tooltip" data-placement="top" title="Entrar com o aluno">
                                  <i class="fas fa-sign-in-alt"></i> Logar com o aluno
                                </button>
                              </form>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td class="text-wrap">
                          <div class="d-flex ">
                              <nav class="nav nav-icon-only ">
                                
                              </nav>
                          </div>
                      </td>
                    </tr>
                  {% empty %}
                <tr>
                  <td colspan="4">Não há alunos</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- card -->
      {% include 'includes/pagination.html' with objects=object_list %}
    </div>
  </div>
</div>
{% endblock content-fixed %}

{% block off-canvas %}

  <div id="right-off-canvas" class="off-canvas off-canvas-right wd-400 bg-white"
    style="overflow-y: auto; overflow-x: hidden;">
    <form action="" method="GET">
    <div class="row p-3">
      <div class="col-12">
        <h5>Filtrar Alunos</h5>
        <p>Adiciona abaixo os filtros que você deseja aplicar na listagem abaixo</p>
        <hr/>
      </div>

        <div class="col-12">
          <div class="form-group mb-3">
            <label for="application_name_id" class="mb-1">Nome do aluno</label>
            <input type="text" value="{{q_name}}" id="application_name_id" name="q_name" class="form-control" placeholder="Digite o nome do aluno">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group mb-3">
            <label for="name_id" class="mb-1">Matrícula</label>
            <input type="text" value="{{q_enrollment}}" id="name_id" name="q_enrollment" class="form-control" placeholder="Digite o nome a matrícula">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group mb-3">
            <label for="classe_id" class="mb-1">Turmas</label>
            <select name="q_classes" id="classe_id" class="form-control" multiple="multiple">
              {% for classe in classes %}
              <option value="{{classe.pk}}" {% if classe.pk|stringformat:'s' in q_classes %}selected="selected"
                {% endif %}>
                {{ classe.name }} - {{ classe.coordination__unity__name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col-12">
          <div class="custom-control custom-switch">
            <input {% if q_duplicated %}checked="checked"{% endif %} type="checkbox" id="q_duplicated_id" name="q_duplicated" class="custom-control-input">
            <label class="custom-control-label" for="q_duplicated_id">Apenas alunos duplicados</label>
            <br>
            <small class="text-muted">Alunos com a mesma matrícula</small>
          </div>
        </div>
        
        <div class="col-12 mt-1">
          <div class="custom-control custom-switch">
            <input {% if q_without_classes %}checked="checked"{% endif %} type="checkbox" id="q_without_classes_id" name="q_without_classes" class="custom-control-input">
            <label class="custom-control-label" for="q_without_classes_id">Apenas alunos sem turma</label>
            <br>
            <small class="text-muted">Alunos sem turmas cadastradas</small>
          </div>
        </div>

        <div class="col-12 mt-1">
          <div class="custom-control custom-switch">
            <input {% if q_deactivated %}checked="checked"{% endif %} type="checkbox" id="q_deactivated_id" name="q_deactivated" class="custom-control-input">
            <label class="custom-control-label" for="q_deactivated_id">Apenas alunos desativados</label>
            <br>
            <small class="text-muted">Alunos com usuário desativado</small>
          </div>
        </div>
        <div class="col-12 mt-1">
          <div class="custom-control custom-switch">
            <input {% if q_activated_and_deactivated%}checked="checked"{% endif %} type="checkbox" id="q_activated_and_deactivated" name="q_activated_and_deactivated" class="custom-control-input">
            <label class="custom-control-label" for="q_activated_and_deactivated">Alunos ativos e desativados</label>
            <br>
            <small class="text-muted">Alunos com usuário ativo e desativado</small>
          </div>
        </div>
        <div class="col-12 mt-1">
          <div class="custom-control custom-switch">
            <input {% if q_more_classes%}checked="checked"{% endif %} type="checkbox" id="q_more_classes" name="q_more_classes" class="custom-control-input">
            <label class="custom-control-label" for="q_more_classes">Alunos com mais de um ensalamento</label>
            <br>
            <small class="text-muted">Alunos com mais de uma turma no ano vigente</small>
          </div>
        </div>
        <div class="col-12 mt-5">
          <button type="submit" class="btn btn-primary btn-block">
            <i class="fas fa-search"></i>
            Aplicar filtro
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block extra-modal %}
  {% include 'includes/confirm_modal.html' %}
{% endblock extra-modal %}


{% block js-additional %}
<script src="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'administration/lib/select2/js/select2.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>

  
  $('#classe_id').select2({
    placeholder: "Selecione uma opção",
    closeOnSelect: false
  });

  $('.table-responsive').on('show.bs.dropdown', function () {
    $('.table-responsive').css( "overflow", "inherit" );
  });
  
  $('.table-responsive').on('hide.bs.dropdown', function () {
    $('.table-responsive').css( "overflow", "auto" );
  })


  $(function () {
    'use strict'

    $('.off-canvas-menu').on('click', function (e) {
      e.preventDefault();
      var target = $(this).attr('data-toggle-off-canvas');
      $(target).addClass('show');
    });

    $('.off-canvas .close').on('click', function (e) {
      e.preventDefault();
      $(this).closest('.off-canvas').removeClass('show');
    })

    $(document).on('click touchstart', function (e) {
      if($(e.target).hasClass('select2-results__option') || $(e.target).hasClass('select2-results__custom_option')) {
        return
      }
      e.stopPropagation();

      if (!$(e.target).closest('.off-canvas-menu').length) {
        var offCanvas = $(e.target).closest('.off-canvas').length;
        if (!offCanvas) {
          $('.off-canvas.show').removeClass('show');
        }
      }
    });

    const url = new URL(window.location.href)
    const resetPassword = url.searchParams.get('reset_password')
    if (resetPassword) {
      const urlResetPassword = "{% url 'students:students_reset' pk='00000000-0000-0000-0000-000000000000' %}"
      const url = urlResetPassword.replace('00000000-0000-0000-0000-000000000000', resetPassword)
      const email = document.getElementById(`studentEmail-${resetPassword}`).value
      const enrollmentNumber = document.getElementById(`studentEnrollmentNumber-${resetPassword}`).value
      reset(`${url}?{% if params %}{{ params }}{% endif %}`, email, enrollmentNumber)
    }
  });
  function reset(url, email, enrollment_number) {
    Swal.fire({
      title: 'Informação importante!',
      html: `Você resetará o acesso do aluno para os seguintes dados <br /> <br />
            <strong>Usuário:</strong> ${email} <br /><strong>Senha:</strong> ${enrollment_number}`,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'Ok, Resetar!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = url
        }
    })
  };
  const deactivateStudent = async (pk, name, enrollment_number, is_active) => {
    if(is_active){
      Swal.fire({
        title: 'Atenção!',
        html: `O aluno <strong>${name}</strong> com matrícula <strong>${enrollment_number}</strong> terá seu usuário desativado. <br /><br />
              <strong>Você tem certeza que deseja completar essa ação?</strong>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Desativar aluno',
        cancelButtonText: 'Cancelar',
        }).then((result) => {
          if (result.isConfirmed) {
            axios.post(`{% url 'students:deactivate-student' student_pk='00000000-0000-0000-0000-000000000000' %}`.replace('00000000-0000-0000-0000-000000000000', pk)).then((res) => {
              window.location.href = res.data
            })
          }
      })
    }else{
      axios.post(`{% url 'students:deactivate-student' student_pk='00000000-0000-0000-0000-000000000000' %}`.replace('00000000-0000-0000-0000-000000000000', pk)).then((res) => {
        window.location.href = res.data
      })      
    }
  }
  function generateCSVFile(link) {
    Swal.fire({
      title: "Gerando Exportação dos Dados",
      html: "Estamos gerando o arquivo CSV com a lista de Alunos, aguarde um momento.",
      timerProgressBar: true,
      showConfirmButton: false,
    });
    swal.showLoading();

    var xhr = new XMLHttpRequest();
    xhr.open('HEAD',link, true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            Swal.close(); 
            if (xhr.status === 200) {
              
              Swal.fire({
                icon: 'success',
                title: 'Download Concluído!',
                text: 'Seu arquivo CSV foi gerado com sucesso.',
              });
            } else {
              Swal.fire({
                icon: 'erro',
                title: 'Falha ao realizar Download!',
                text: 'Ocorreu um erro ao gerar sua exportação, por favor, tente novamente.',
              });
              swal.close()
            }
        }
    };
    xhr.send();

  }
  let deactivatedCheckbox = document.getElementById('q_deactivated_id');
  let activatedAndDeactivatedCheckbox = document.getElementById('q_activated_and_deactivated');

  deactivatedCheckbox.addEventListener('change', function() {
    activatedAndDeactivatedCheckbox.disabled = this.checked;
  });

  activatedAndDeactivatedCheckbox.addEventListener('change', function() {
    deactivatedCheckbox.disabled = this.checked;
  });
</script>
{% endblock %}