/* blockquote[class^="tw-"],
dl[class^="tw-"],
dd[class^="tw-"],
h1[class^="tw-"],
h2[class^="tw-"],
h3[class^="tw-"],
h4[class^="tw-"],
h5[class^="tw-"],
h6[class^="tw-"],
hr[class^="tw-"],
figure[class^="tw-"],
p[class^="tw-"],
pre[class^="tw-"] {
  margin: 0;
} */

/* label[class^="tw-"] {
  margin-bottom: 0;
} */

/* .tw-dropdown-menu { */
  /* font-size: inherit;
  color: inherit;
  text-align: inherit;
  margin: inherit;
  padding: inherit;
  min-width: inherit;
  border: inherit;
  border-radius: inherit;
  background-color: inherit; */
/* } */
