{% extends 'dashboard/base.html' %}

{% block title %}LizeEdu - Mudança de senha bem sucedida{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="#">Painel</a>
  </li>
  <li class="breadcrumb-item">
    <a href="#">Perfil</a>
  </li>
  <li class="breadcrumb-item">
    <span>Mudança de senha bem sucedida</span>
  </li>
{% endblock breadcrumb %}

{% block content %}
  <div class="content-i">
    <div class="content-box">
      <div class="element-wrapper">
        <h6 class="element-header">
          Mudança de senha bem sucedida
        </h6>
        <div class="pt-3 pl-5 pr-5 pb-5">
          <p class="text-muted">
            Sua senha foi alterada com sucesso.
          </p>
          <div class="buttons-w text-right">
            <a class="btn btn-primary" href="{% url 'clients:client_dashboard' %}">
              <i class="os-icon os-icon-layout"></i>
              <span>Voltar para o Painel</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}