html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content-main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
.errorlist {
  padding-inline-start: 2px;
  list-style: none;
  margin-bottom: 0;
}
