{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvando questão...</title>
    <link rel="stylesheet" href="{% static 'administration/assets/css/app.css' %}">

</head>
<body>
    <div class="row">
        <div class="col-12 p-5">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">
                    Salvando questão...
                </h4>
            </div>
        </div>
    </div>
    {{ question|json_script:"question_data" }}
    <script>
        if(window.opener.app_question){
            window.opener.app_question.call(JSON.parse(document.getElementById('question_data').textContent))
        }else if(window.opener.app){
            window.opener.app.call(JSON.parse(document.getElementById('question_data').textContent))
        }
        window.close()
    </script>
</body>
</html>