{% extends 'redesign/base.html' %}
{% comment %} {% extends 'dashboard/base_fixed.html' %} {% endcomment %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Lize - Configurações de notificação
{% endblock title %}

{% block css-additional %}

{% endblock css-additional %}

{% comment %}
{% block breadcrumb-fixed %}
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-10">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="#">MALOTES</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {% if object %}
                            ATUALIZAR
                        {% else %}
                            CADASTRAR
                        {% endif %}
                        
                    </li>
                </ol>
            </nav>
            <h4>
                Separação de arquivos dos malotes
            </h4>
        </div>
        <div class="d-none d-md-block">
            <button class="btn btn-sm pd-x-15 btn-white btn-uppercase" onclick="history.back();">
                <i data-feather="arrow-left" class="wd-10 mg-r-5"></i> Voltar
            </button>
        </div>
    </div>
{% endblock breadcrumb-fixed %}
{% endcomment %}

{% block top-menu %}
{% include "includes/configurations_header.html" %}
{% endblock top-menu %}

{% block content-fixed %}
    <div class="ard cer dcv">
      <div class="ls" style="margin-top: 0.5rem; margin-bottom: 1rem; justify-content: space-between;">
        <!-- Empty -->
      </div>
    <div class="row">
        <div class="col-12">
            <div class="card mg-b-10">
                <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
                    <div>
                        <h6 class="mg-b-5">
                            Configurações
                        </h6>
                        <p class="tx-13 tx-color-03 mg-b-5">Gerencie as configurações abaixo</p>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12 mt-1 mb-2">
                                <label class="cp" for="{{form.omr_print_file_separation.auto_id}}">
                                    {{form.omr_print_file_separation.label}}
                                </label>
                                {% render_field form.omr_print_file_separation class="form-control" %}
                                {% for error in form.omr_print_file_separation.errors %}
                                    <small class="text-danger">{{error}}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-md-12 mt-1 mb-2">
                                <button :disabled="hasDateError()" class="btn btn-warning">Salvar configurações</button>
                            </div>
                        </div>
                        <input type="hidden" name="client" value="{{user.get_clients_cache.0}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content-fixed %}

{% block extra-modal %}

{% endblock extra-modal %}

{% block js-additional %}

<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            notifications_teachers: {{object.send_notification|default:False|lower}},
            first_notification_date: "{{object.first_notification|default:3}}",
            second_notification_date: "{{object.second_notification|default_if_none:''}}",
            coordination_first_notification_date: "{{object.coordination_first_notification|default:3}}",
            after_expiration_date: "{{object.after_expiration|default:0}}",
            notifications_coordination: {{object.coordination_send_notification|default:False|lower}},
            coordination_second_notification_date: "{{object.coordination_second_notification|default_if_none:''}}",
            coordination_after_expiration_date: "{{object.coordination_after_expiration|default:0}}",
            coodination_after_expiration_date: "{{object.coodination_after_expiration|default:0}}",
        },
        watch:{
            notifications_teachers(newValue){
                this.notifications_teachers = newValue
            },
            notifications_coordination(newValue){
                this.notifications_coordination = newValue
            },
        },
        methods: {
            hasDateError(){
                if(this.second_notification_date) return (this.second_notification_date >= this.first_notification_date)
                
            }
        },
        mounted() {
        
        }
    });
</script>
{% endblock js-additional %}