{% extends 'redesign/base.html' %}
{% comment %} {% extends 'dashboard/base_fixed.html' %} {% endcomment %}
{% load static %}

{% block title %}Listagem de assuntos - Lize{% endblock title %}


{% block css-additional %}
    <link href="{% static 'administration/lib/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'administration/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}">
{% endblock css-additional %}
    
{% comment %}
{% block breadcrumb-fixed %}
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-10">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">ASSUNTOS</a></li>
                <li class="breadcrumb-item active" aria-current="page">LISTAGEM</li>
            </ol>
        </nav>
        <h4>Assuntos</h4>
    </div>
    <div class="d-flex">

        <div class="dropdown mr-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonReport"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-upload"></i> Importar
            </button>
            <div class="dropdown-menu">
                <a href="#" data-target="#importTopicModal" data-toggle="modal" class="dropdown-item nav-link">
                    <i class="fas fa-upload"></i> Importar Assuntos
                </a>

                <a href="{% static 'template_imports/modelo_importacao_assuntos.xlsx' %}" class="dropdown-item nav-link">
                    <i class="fas fa-download"></i> Baixar modelo de planilha
                </a>
            </div>

        </div>

        <a href="{% url 'subjects:topic_create' %}" class="btn btn-sm pd-x-15 btn-primary btn-uppercase">
            <i data-feather="plus" class="wd-10 mg-r-5"></i> Cadastrar novo Assunto
        </a>
    </div>
</div>
{% endblock breadcrumb-fixed %}
{% endcomment %}

{% block content-fixed %}
    <div class="ard cer dcv tw-mb-16">
      <div class="ls" style="margin-top: 1.25rem; margin-bottom: 1rem; justify-content: space-between;">
        <div style="flex: 1;">
          <!-- Empty -->
        </div>
        <div class="d-flex">
          <div class="dropdown mr-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonReport"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-upload"></i> Importar
            </button>
            <div class="dropdown-menu">
                <a href="#" data-target="#chooseActionModal" data-toggle="modal" class="dropdown-item nav-link">
                    <i class="fas fa-upload"></i> Importar Assuntos
                </a>

                <a href="{% static 'template_imports/modelo_importacao_assuntos.xlsx' %}" class="dropdown-item nav-link">
                    <i class="fas fa-download"></i> Baixar modelo de planilha simples
                </a>
                <a href="{% static 'template_imports/modelo_importacao_completo.xlsx' %}" class="dropdown-item nav-link">
                    <i class="fas fa-download"></i> Baixar modelo de planilha completa
                </a>
            </div>
          </div>
          <a href="{% url 'subjects:topic_create' %}" class="btn btn-sm btn-primary btn-uppercase ml-2 d-flex align-items-center">
            <i data-feather="plus" class="wd-10  pdx-8 pdy-8"></i> Cadastrar novo assunto
            </a>
        </div>
      </div>
<div class="row m-0 mb-2 bg-white">
    <div class="col-12 p-2">
        <label for="customFilters" class="mb-1 tx-bold">Filtro Padrão 
            <svg style="width: 15px; height: 15px;" class="cp tooltips" data-tippy-content="Você pode selecionar um filtro pre definido para facilitar suas consultas." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM288 352c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z"/>
            </svg>
            </label>
            <div class="d-flex justify-content-between">
                <div class="d-flex" style="width: 40%;">
                <template v-if="filters.list.length">
                    <button class="btn btn-outline-primary rounded-pill" data-toggle="modal" data-target="#defaultFilters">${ filters.selected ? filters.selected.name:'Selecionar um filtro padrão' }</button>
                </template>
                <template v-else>
                    <button class="btn btn-outline-primary rounded-pill off-canvas-menu" data-toggle-off-canvas="#right-off-canvas" @click="filters.createNewFilter = true">Criar um filtro padrão</button>
                </template>
                <button v-if="!filters.selected" data-toggle-off-canvas="#right-off-canvas" @click="filters.createNewFilter = true" class="btn btn-outline-primary btn-sm rounded-pill mx-2 off-canvas-menu"><i class="fas fa-plus"></i></button>
                </div>
                <div class="d-flex">
                <button data-toggle-off-canvas="#right-off-canvas" @click="filters.createNewFilter = false" class="btn btn-sm btn-info btn-icon rounded-pill off-canvas-menu">
                    <i class="fas fa-search"></i> Filtrar listagem 
                    {% if count_filters > 0 %}
                    <span class="badge badge-danger">{{count_filters}} Aplicado(s)</span>
                    {% endif %}
                </button>
                <button v-if="filters.selected || {{count_filters|default:0|safe}}" class="btn btn-primary btn-sm rounded-pill mx-2 d-flex align-items-center" @click="window.location.href = '{% url 'subjects:topic_list' %}'"><i class="fas fa-filter mr-1"></i> Limpar</button>
                </div>
            </div>
            <template v-if="filters.labels().length">
            <h6 class="my-0 mt-2">Filtros aplicados:</h6>
            <div class="table-responsive">
                <div class="d-flex">
                <span v-for="filter in filters.labels()" style="cursor: default;" class="d-flex align-items-center m-1 tx-10 px-2 rounded-pill badge badge-primary text-uppercase" :data-tippy-content="filter.values.map((item) => `<span class='badge badge-primary mx-1'>${item}</span>`)" :class="{ 'tooltips': filter.showCount }">
                    ${filter.label}<template v-if="filter.showValues">: <span v-if="!filter.showCount"> ${ filter.values.join(', ') }</span><span class="badge badge-dark rounded-circle ml-1" v-else> ${ filter.values.length }</span></template>
                </span>
                </div>
            </div>
        </template>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mg-b-10">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
                <div>
                    <h6 class="mg-b-5">Assuntos</h6>
                    <p class="tx-13 tx-color-03 mg-b-5">Gerencie todas os assuntos listados abaixo!</p>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-dashboard mg-b-1">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Disciplina</th>
                            <th style="width: 20%;">Assunto</th>
                            <th style="width: 20%;">Tema</th>
                            <th style="width: 20%;">Tópico</th>
                             <th style="width: 20%;">Etapa de Ensino</th>
                            <th class="text-wrap text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for topic in object_list %}
                        <tr>
                            <td>
                                {{topic.subject.name}}
                                <p class="text-muted">{{topic.subject.knowledge_area.name}}</p>
                            </td>
                            <td style="width: 20%;">
                               {{topic.name}}
                            </td>
                            <td style="width: 20%;">
                                {{topic.theme|default:""}}
                             </td>
                             <td style="width: 20%;">
                                {{topic.main_topic|default:""}}
                             </td>
                            <td style="width: 20%;">
                                <h6>{{topic.grade}}</h6>
                                {{topic.get_stage_display}}
                            </td>
                            <td class="text-wrap">
                                <div class="d-flex float-right">

                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButtonReport" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Opções
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonReport">
                                                <a href="{% url 'subjects:topic_update' topic.pk %}" class="dropdown-item nav-link"><i class="fas fa-edit"></i> Editar</a>

                                                <a href="javascript:void(0)" class="dropdown-item nav-link"
                                                    onClick="confirmCancel('{% url "subjects:topic_delete" topic.pk %}')"
                                                    data-toggle="tooltip" data-placement="top" title="Deletar">
                                                    <i class="fas fa-trash"></i> Deletar
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">
                                Não há competências cadastradas até o momento.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div><!-- card -->
        {% include 'includes/pagination.html' with objects=object_list %}
    </div>
</div>
</div>
{% endblock content-fixed %}

{% block off-canvas %}
  <div id="right-off-canvas" class="off-canvas off-canvas-right wd-400 bg-white" style="max-height: 100%; overflow-y: auto; overflow-x: hidden;">
    <form method="GET" id="filterForm">
      <div class="off-content d-flex flex-column justify-content-between">
        <div class="off-header">
          <div class="row m-0">
            <div class="col-12 p-3">
              <h4 class="">Filtrar assuntos</h3>
              <p class="mb-0">Adiciona abaixo os filtros que você deseja aplicar na listagem abaixo</p>
            </div>
          </div>
        </div>
        <hr class="my-0 py-0">
        <div class="off-body" style="height: 75vh; padding-bottom: 80px; overflow-y: auto;">
          <div class="row py-2 m-0">
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="q_name_id" class="mb-1">Nome do assunto</label>
                <input type="text" value="{{q_name}}" id="q_name_id" name="q_name" class="form-control" placeholder="Digite o nome do assunto aqui">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="subject_id" class="mb-1">Disciplinas</label>
                <select name="q_subjects" id="subject_id" class="form-control" multiple="multiple">
                  {% for subject in subjects %}
                    <option value="{{subject.pk}}"
                      {% if subject.pk|stringformat:'s' in q_subjects %}selected="selected" {% endif %}>
                      {{subject.name}} > {{subject.knowledge_area.name}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-3">
                <label for="grade_id" class="mb-1">Séries</label>
                <select name="q_grades" id="grade_id" class="form-control" multiple="multiple">
                  {% for grade in grades %}
                  <option value="{{grade.pk}}" {% if grade.pk|stringformat:'s' in q_grades %}selected="selected"
                    {% endif %}>
                    {{grade}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="off-footer" style="position: fixed; bottom: 0; width: 100%; padding: 0 20px;">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary btn-block" v-if="!filters.createNewFilter">
                <i class="fas fa-search"></i>
                Aplicar filtro
              </button>
              <template v-if="filters.selected">
                <button type="button" @click="saveFilter(filters.selected)" class="btn btn-secondary btn-block"><i class="fas fa-save"></i> Atualizar filtro padrão</button>
              </template>
              <template v-else>
                <button type="button" @click="saveFilter()" class="btn btn-secondary btn-block"><i class="fas fa-save"></i> Criar filtro padrão</button>
              </template>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block extra-modal %}
{% include 'includes/confirm_modal.html' %}
<div class="modal fade" id="chooseActionModal" tabindex="-1" role="dialog" aria-labelledby="chooseActionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chooseActionModalLabel">Por favor, escolha entre a importação simples ou a importação completa:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#importTopicModal">Importação simples</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#importTopicModalCompleted">Importação completa</button>
        </div>
      </div>
    </div>
  </div>

  <div aria-hidden="true" class="modal fade" id="importTopicModalCompleted" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importar novos assuntos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: fit-content; height: fit-content;">
                
                 <form action="{% url 'subjects:topic_complete_topic' %}" method="POST" enctype='multipart/form-data'>
                     {% csrf_token %}
                    <div class="col-12">
                        <div class="form-group mb-2">
                        <label class="tw-block  tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-dark:text-white" for="file_input">Escolher planilha com os assuntos</label>
                        <input id="file_input" type="file" name="topics_file"  accept=".xlsx, .xls, .csv" class="tw-block tw-w-full tw-text-sm tw-text-gray-900 tw-border  tw-border-gray-300 tw-cursor-pointer tw-bg-gray-50 tw-dark:text-gray-400 tw-focus:outline-none tw-dark:bg-gray-700 tw-dark:border-gray-600 tw-dark:placeholder-gray-400" >
                        <p class=" tw-mt-1  tw-text-sm tw-text-gray-500 tw-dark:text-gray-300" id="file_input_help"><b>Tipos permitidos:</b> .xlsx, .xls, .csv.</p>
                        </div>
                    </div>
                     <div class="modal-footer pb-0">
                        {% csrf_token %}
                        <div class="form-buttons-w text-right">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                <i class="os-icon os-icon-cancel-circle"></i>
                                <span>Cancelar</span>
                            </button>
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-upload"></i>
                                <span>Importar assuntos</span>
                            </button>
                        </div>
                     </div>
                 </form>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="importTopicModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importar novos assuntos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: fit-content; height: fit-content;">
                
                 <form action="{% url 'subjects:topic_import' %}" method="POST" enctype='multipart/form-data'>
                     {% csrf_token %}

                     <div class="form-row">
                         <div class="col-6">
                             <div class="form-group mb-2">
                                 <label for="" class="mb-0 mt-1">Etapa do ensino</label>
                                 <select v-model="selectedLevel" class="form-control" id="selectLevel">
                                     <option value="0">Ensino médio</option>
                                     <option value="1">Ensino fundamental 1</option>
                          <option value="2">Ensino fundamental 2</option>

                                 </select>
                             </div>
                         </div>
                         <div class="col-6">
                             <div class="form-group mb-2">
                                 <label for="" class="mb-0 mt-1">Ano/Série</label>
                                 <select name="grade" class="form-control" id="selectGrade" v-model="selectedGrade">
                                     <option value="">Selecione um Ano/Série</option>
                                     <option v-for="grade in grades" :value="grade.id" v-html="grade.name"></option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-12">
                             <div class="form-group mb-2">
                                 <label for="" class="mb-0 mt-1">Área de conhecimento</label>
                                 <select class="form-control" id="selectArea" v-model="selectedArea">
                                     <option value="">Selecione uma Área de conhecimento</option>
                                     <option v-for="selectedArea in knowledgeAreas" :value="selectedArea.id" v-html="selectedArea.name"></option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-12">
                             <div class="form-group mb-2">
                                 <label for="" class="mb-0 mt-1">Disciplina</label>
                                 <select name="subject" class="form-control" id="selectSubject"
                                     v-model="selectedSubject" required="required">
                                     <option value="">Selecione uma disciplina</option>
                                     <option v-for="subject in subjects" :value="subject.id" v-html="subject.name">
                                     </option>
                                 </select>
                                 <small class="form-text text-muted">
                                     {{ form.subject.help_text }}
                                 </small>
                                 {% if form.subject.errors %}
                                 <label class="text-danger">
                                     {{ form.subject.errors.0 }}</label>
                                 {% endif %}
                             </div>
                         </div>
                         <div class="col-12">
                             <div class="form-group mb-2">
                                 <label for="" class="mb-0 mt-1">Escolher planilha com os assuntos</label>
                                 <input type="file" name="topics_file" class="form-control-file" accept=".xlsx, .xls, .csv">
                                <p class="text-muted"><b>Tipos permitidos:</b> .xlsx, .xls, .csv</p>
                             </div>
                         </div>
                     </div>
                     <div class="modal-footer pb-0">
                        {% csrf_token %}
                        <div class="form-buttons-w text-right">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                <i class="os-icon os-icon-cancel-circle"></i>
                                <span>Cancelar</span>
                            </button>
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-upload"></i>
                                <span>Importar assuntos</span>
                            </button>
                        
                        </div>
                     </div>


                 </form>

            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" class="modal fade" id="defaultFilters" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-truncate" id="modal-exam-export-title">Lista com seus filtros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table" id="datatableFilters">
            <thead>
              <tr>
                <th class="bg-white">Detalhes do filtro padrão</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="filter in filters.list">
                <td style="max-width: 560px;">
                  <strong class="mr-1">${filter.name}</strong>
                  <div class="table-responsive">
                    <div class="d-flex">
                      <span class="badge badge-primary rounded-pill m-1 d-flex align-items-center" v-for="filter in filters.parseParamsInLabels(filter.params)" v-html="filter" v-if="filter.length"></span>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-right" style="background-color: #f3f4f7;">
                  <span class="badge badge-success tx-12 cp tooltips align-self-middle" v-if="filters.selected != filter" data-tippy-content="Aplicar o filtro padrão" @click="window.location.href = `${filter.fullUrl}&selected_filter=${filter.id}`"><i class="fas fa-check"></i> Aplicar filtro</span>
                  <span class="badge badge-danger tx-12 cp tooltips ml-1 align-self-middle" data-tippy-content="Clique para deletar o filtro padrão." @click="removeDefaultFilter(filter)"><i class="fas fa-times"></i> Deletar filtro</span>
                </td>
              </tr>
              <tr v-if="!filters.list.length">
                <td colspan="2">Nenhum filtro padrão encontrado</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer justify-content-center"></div>
      </div>
    </div>
  </div>
{% endblock extra-modal %}


{% block js-additional %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'administration/lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'administration/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
    <script src="{% static 'administration/lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>

    <script type="text/javascript">
        function confirmCancel(url) {
            document.getElementById('id_confirm_cancel_form').action = url
            $("#confirmCancelModal").modal("show")
        }
    
        var app_question = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                knowledgeAreas: [],
                grades: [],
                subjects: [],
                currentKnowledgeArea: "{{form.instance.subject.knowledge_area.pk|default:current_knowledge_area|default:''}}",
                current_subject: "{{form.instance.subject.pk|default:current_subject|default:''}}",
                selectedArea: "",
                selectedSubject: "",
                selectedLevel: "0",
                selectedGrade: "",
                filters: {
                    selected: null,
                    list: [],
                    createNewFilter: false,
                    parseParamsInLabels(params) {
                        let query = {}, labels = [];
                        let pairs = (params[0] === '?' ? params.substr(1) : params).split('&');
                        for (var i = 0; i < pairs.length; i++) {
                        var pair = pairs[i].split('=');
                        query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
                        }
                        for(key in query) {
                        if(query[key]) {
                            const count = params.match(new RegExp(`\\b(${key})\\b`, 'g')).length;
                            let input = $(`[name="${key}"]`), inputId = input.attr('id'), label = `${$(`[for="${inputId}"]`).text()}`
                            if(input.prop('type') == 'select-multiple') {
                            label += `: <span class="badge badge-dark rounded-circle">${count}</span>`
                            } else {
                            if(input.prop('type') == 'select-one') {
                                label += `: ${input.find(`option[value=${query[key]}]`).text()}`
                            }
                            if(input.prop('type') == 'text') {
                                label += `: ${query[key]}`
                            }
                            }
                            labels.push(label)
                        }
                        }
                        return labels
                    },
                    labels() {
                        let labels = []
                        
                        $('#filterForm').find('select, input').each((index, input) => {
                        let values = [], showValues = true, showCount = false
                        if(input.id) {
                            if(input.type.includes('select')  ) {
                            if(input.type == 'select-multiple') {
                                showCount = true
                            }
                            values = $(`#${input.id} option:selected`).toArray().map(item => item.text)
                            }
                            else if(input.type == 'checkbox' || input.type == 'radio') {
                            value = $(`#${input.id}:checked`).val()
                            if(value == 'on' || value === true) {
                                showValues = false
                                values.push(true)
                            }
                            } else {
                            values.push($(`#${input.id}`).val())
                            }
                            if(values.filter(value => value).length) {
                            labels.push({
                                label: $(`[for=${input.id}]`).text(),
                                showValues: showValues,
                                showCount: showCount,
                                values: values,
                            })
                            }
                        }
                        })
                        return labels
                    },
                },
            },
            watch: {
                selectedLevel: function(value){if (value){this.fetchGrades(value)}},
                selectedGrade: function(value){if (value){this.fetchKnowledgeArea(value)}},
                selectedArea: function (value) {
                    if (value) {
                        this.fetchSubject(value)
                    }
                },
            },
            methods: {
                fetchGrades: function(level){
                    var self = this
                    var gradeListUrl = `{% url 'classes:grade_list_api' %}?level=${level}`
                        axios.get(gradeListUrl).then(function(response) {
                        self.grades = response.data
                        self.selectedGrade = self.checkExist(self.currentGrade, self.grades)
                    })
                },
                fetchKnowledgeArea: function (grade) {
                    var self = this
                    var knowledgeAreaListUrl = `{% url 'subjects:knowledge_area_list_api' %}?grades=${grade}`
                    axios.get(knowledgeAreaListUrl).then(function (response) {
                        self.knowledgeAreas = response.data
                        self.selectedArea = self.checkExist(self.currentKnowledgeArea, self
                            .knowledgeAreas)
                    })
                },
                fetchSubject: function (knowledgeArea) {
                    var self = this
                    var subjectListUrl =
                        `{% url 'subjects:subject_list_api' %}?knowledge_area=${knowledgeArea}`
                    axios.get(subjectListUrl).then(function (response) {
                        self.subjects = response.data
                        self.selectedSubject = self.checkExist(self.current_subject, self.subjects)
                    })
                },
                checkExist(value, list) {
                    var elementExists = list.find(element => element.id == value)
                    return elementExists ? elementExists.id : ""
                },
                getParamsSerialized() {
                    return '?' + $(document.forms[0]).serialize()
                },
                saveFilter(filter) {
                    Swal.fire({
                    title: this.filters.createNewFilter ? 'Nome para o filtro':'Nome do filtro',
                    text: 'Digite um nome para facilitar a localização do filtro personalizado',
                    input: 'text',
                    inputValue: this.filters.selected ? this.filters.selected.name:'',
                    focusConfirm: false,
                    confirmButtonText: this.filters.createNewFilter ? "Criar filtro":"Atualizar filtro",
                    }).then((result) => {
                    if(result.isConfirmed && result.value) {
                        if(filter) {
                        window.history.pushState({}, '', `${this.getParamsSerialized()}&selected_filter=${filter.id}`)
                        axios.patch(filter.urls.apiDetail, { name: result.value, params: this.getParamsSerialized()}).then((response) => {
                            this.alertTop('O filtro foi atualizado, e será aplicado')
                            window.location.reload()
                        }).catch((e) => {
                            this.alertTop('Ocorreu um erro ao tentar atualizar o filtro, tente novamente, caso o erro persista entre em contato com o suporte', 'error')
                        })
                        return
                        }
                        const newFilter = {
                            user: '{{user.id}}',
                            name: result.value,
                            url: '{{request.resolver_match.app_name}}:{{request.resolver_match.url_name}}',
                            params: this.getParamsSerialized(),
                        }
                        axios.post("{% url 'api:clients:custom-filters-list' %}", newFilter).then((response) => {
                            window.history.pushState({}, '', `${this.getParamsSerialized()}&selected_filter=${response.data.id}`)
                            this.alertTop('O filtro personalizado foi criado com sucesso.')
                            window.location.reload()
                        }).catch((e) => {
                            this.alertTop('Ocorreu um erro ao tentar atualizar o filtro, tente novamente, caso o erro persista entre em contato com o suporte', 'error')
                        })
                    }
                    })
                },
                removeDefaultFilter(filter) {
                    Swal.fire({
                        title: "Confirmação",
                        icon: "info",
                        text: "Você tem certeza que deseja remover este filtro? a operação não poderá ser disfeita.",
                        showCancelButton: true,
                        confirmButtonText: 'Sim, confirmo!',
                        cancelButtonText: 'Cancelar',
                    }).then((result) => {
                        if(result.isConfirmed) {
                        axios.delete(filter.urls.apiDetail).then((response) => {
                            this.filters.list.splice(this.filters.list.indexOf(filter), 1)
                            if(this.filters.selected == filter) {
                            this.filters.selected = null
                            }
                            this.alertTop('Filtro padrão removido com sucesso.')
                        }).catch((e) => {
                            this.alertTop('Ocorreu um erro ao tentar remover o filtro, tente novamente, caso o erro persista entre em contato com o suporte.')
                        })
                        }
                    })
                },
                alertTop(text) {
                  Swal.fire({
                    position: 'top-end',
                    text: text,
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500,
                    toast: true,
                    timerProgressBar: true,
                  })
                },
            },
            mounted: function () {
                var self = this;
                self.fetchGrades(self.selectedLevel)
                $('#subject_id').select2({
                    placeholder: "Selecione uma opção",
                    closeOnSelect: false,
                    templateResult: function (data, container) {
                        let subject_name = data.text.split('>')[0]
                        let knowledge_area_name = data.text.split('>')[1]
                        return $(
                            `<strong class="select2-results__custom_option">${subject_name}</strong> <br> <span class="select2-results__custom_option">${knowledge_area_name}</span>`
                        );
                    },
                }).on('select2:selecting', function(e) {
                    let cur = e.params.args.data.id;
                    let old = (e.target.value == '') ? [cur] : $(e.target).val().concat([cur]);
                    $(e.target).val(old).trigger('change');
                    $(e.params.args.originalEvent.currentTarget).attr('aria-selected', 'true');
                    return false;
                });
                
                $('#grade_id').select2({
                    placeholder: "Selecione uma opção",
                    closeOnSelect: false
                }).on('select2:selecting', function(e) {
                    let cur = e.params.args.data.id;
                    let old = (e.target.value == '') ? [cur] : $(e.target).val().concat([cur]);
                    $(e.target).val(old).trigger('change');
                    $(e.params.args.originalEvent.currentTarget).attr('aria-selected', 'true');
                    return false;
                  });

                $('.off-canvas-menu').on('click', function (e) {
                    e.preventDefault();
                    var target = $(this).attr('data-toggle-off-canvas');
                    $(target).addClass('show');
                });
                
                $('.off-canvas .close').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.off-canvas').removeClass('show');
                })
            
                $(document).on('click touchstart', function (e) {
                    if($(e.target).hasClass('select2-results__option') || $(e.target).hasClass('select2-results__custom_option')) {
                        return
                      }
                e.stopPropagation();
            
                if (!$(e.target).closest('.off-canvas-menu').length) {
                    var offCanvas = $(e.target).closest('.off-canvas').length;
                    if (!offCanvas) {
                    $('.off-canvas.show').removeClass('show');
                    }
                }
                });
                axios.get("{% url 'api:clients:custom-filters-list' %}?url={{request.resolver_match.app_name}}:{{request.resolver_match.url_name}}").then((response) => {
                    this.filters.list = response.data
                }).finally(() => {
                {% if selected_filter %}
                    this.filters.selected = this.filters.list.find(filter => filter.id == '{{selected_filter}}')
                {% endif %}
                if(this.filters.list.length) {
                    $('#datatableFilters').DataTable({
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json"
                    },
                    });
                }
                })
            }
        })

    </script>
{% endblock js-additional %}
    