{% extends 'redesign/base.html' %}
{% comment %} {% extends 'dashboard/base_fixed.html' %} {% endcomment %}
{% load widget_tweaks %}


{% block title %}Alterar senha - Lize{% endblock title %}

{% comment %}
{% block breadcrumb-fixed %}
  <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-10">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item"><a href="{% url 'applications:applications_list' %}">SENHA</a></li>
          <li class="breadcrumb-item active" aria-current="page">ALTERAR</li>
        </ol>
      </nav> 
      <h4>Alterar senha</h4>
      {% if must_change_password %}
      <div class="alert alert-info">
        Olá <span class="font-weight-bold">{{ user.get_user_first_name }}</span>, solicitamos que você atualize a sua senha para manter a sua conta sempre segura. É rápido, e logo após você poderá utilizar a plataforma normalmente!
      </div>
      {% endif %}
    </div>
    {% if not must_change_password %}
    <div class="d-none d-md-block">
        <a href="#" onclick="history.back()" class="btn btn-sm pd-x-15 btn-white btn-uppercase">
            <i data-feather="arrow-left" class="wd-10 mg-r-5"></i> Voltar
        </a>
    </div>
    {% endif %}
  </div>
{% endblock breadcrumb-fixed %}
{% endcomment %}

{% block content-fixed %}
<div class="ard cer dcv tw-mb-16">
  <div class="ls" style="margin-top: 1.25rem; margin-bottom: 1rem; justify-content: space-between;">
    <div style="display: flex; align-items: center; flex: 1;">
      <h4 class="mb-0">Alterar senha</h4>
    </div>
    {% if not must_change_password %}
    <div class="d-none d-md-block">
        <a href="#" onclick="history.back()" class="btn btn-sm pd-x-15 btn-white btn-uppercase">
            <i data-feather="arrow-left" class="wd-10 mg-r-5"></i> Voltar
        </a>
    </div>
    {% endif %}
  </div>
  {% if must_change_password %}
      <div class="alert alert-info">
        Olá <span class="font-weight-bold">{{ user.get_user_first_name }}</span>, solicitamos que você atualize a sua senha para manter a sua conta sempre segura. É rápido, e logo após você poderá utilizar a plataforma normalmente!
      </div>
      {% endif %}
      <div class="row">
        <div class="col-12">
          <div class="card mg-b-10">
            <form method="POST">
              <div class="card-body">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                  <label for="{{ form.old_password.id_for_label }}">
                    Senha atual
                  </label>
                  {% if form.errors.old_password %}
                    {% render_field form.old_password class="form-control is-invalid" placeholder="Digite a sua senha atual" %}
                    <div class="invalid-feedback">{{ form.errors.old_password }}</div>
                  {% else %}
                    {% render_field form.old_password class="form-control" placeholder="Digite a sua senha atual" %}
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="{{ form.password1.id_for_label }}">
                    {{ form.new_password1.label|lower|capfirst }}
                  </label>
                  {% if form.errors.new_password1 %}
                    {% render_field form.new_password1 class="form-control is-invalid" placeholder="Digite a sua nova senha" %}
                    <div class="invalid-feedback">{{ form.errors.new_password1 }}</div>
                  {% else %}
                    {% render_field form.new_password1 class="form-control" placeholder="Digite a sua nova senha" %}
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="{{ form.password2.id_for_label }}">
                    {{ form.new_password2.label|lower|capfirst }}
                  </label>
                  {% if form.errors.new_password2 %}
                    {% render_field form.new_password2 class="form-control is-invalid" placeholder="Digite novamente a sua nova senha" %}
                    <div class="invalid-feedback">{{ form.errors.new_password2 }}</div>
                  {% else %}
                    {% render_field form.new_password2 class="form-control" placeholder="Digite novamente a sua nova senha" %}
                  {% endif %}
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between tx-13">
                <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase" type="submit">
                  <i data-feather="cloud" class="wd-10 mg-r-5"></i> Salvar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  {% endblock content-fixed %}