<div>
  <div role="tablist" aria-orientation="horizontal">
    <button id="headlessui-tabs-tab-:a1:" role="tab" type="button" aria-selected="true" tabindex="0" data-headlessui-state="selected" data-selected="" aria-controls="headlessui-tabs-panel-:a1:">
      A
    </button>
    <button id="headlessui-tabs-tab-:a2:" role="tab" type="button" aria-selected="false" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-:a2:">
      B
    </button>
    <button id="headlessui-tabs-tab-:a3:" role="tab" type="button" aria-selected="false" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-:a3:">
      C
    </button>
  </div>
  <div>
    <div id="headlessui-tabs-panel-:a1:" role="tabpanel" tabindex="0" data-headlessui-state="selected" data-selected="" aria-labelledby="headlessui-tabs-tab-:a1:">
      <p>A content</p>
    </div>
    <div aria-hidden="true" id="headlessui-tabs-panel-:a2:" role="tabpanel" tabindex="-1" style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" aria-labelledby="headlessui-tabs-tab-:a2:">
      <p>B content</p>
    </div>
    <div aria-hidden="true" id="headlessui-tabs-panel-:a3:" role="tabpanel" tabindex="-1" style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" aria-labelledby="headlessui-tabs-tab-:a3:">
      <p>C content</p>
    </div>
  </div>
</div>

<div>
  <div class="flex gap-4" role="tablist" aria-orientation="horizontal">
    <button class="rounded-full py-1 px-3 text-sm/6 font-semibold focus:outline-none data-[selected]:bg-black/10 data-[hover]:bg-black/5 data-[selected]:data-[hover]:bg-black/10 data-[focus]:outline-1 data-[focus]:outline-white" id="headlessui-tabs-tab-:b1:" role="tab" type="button" aria-selected="true" tabindex="0" data-headlessui-state="selected" data-selected="" aria-controls="headlessui-tabs-panel-:b1:">
      Recent
    </button>
    <button class="rounded-full py-1 px-3 text-sm/6 font-semibold focus:outline-none data-[selected]:bg-black/10 data-[hover]:bg-black/5 data-[selected]:data-[hover]:bg-black/10 data-[focus]:outline-1 data-[focus]:outline-white" id="headlessui-tabs-tab-:b2:" role="tab" type="button" aria-selected="false" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-:b2:">
      Popular
    </button>
    <button class="rounded-full py-1 px-3 text-sm/6 font-semibold focus:outline-none data-[selected]:bg-black/10 data-[hover]:bg-black/5 data-[selected]:data-[hover]:bg-black/10 data-[focus]:outline-1 data-[focus]:outline-white" id="headlessui-tabs-tab-:b3:" role="tab" type="button" aria-selected="false" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-:b3:">
      Trending
    </button>
  </div>
  <div class="mt-3">
    <div class="rounded-xl bg-black/5 p-3" id="headlessui-tabs-panel-:b1:" role="tabpanel" tabindex="0" data-headlessui-state="selected" data-selected="" aria-labelledby="headlessui-tabs-tab-:b1:">
      <ul><li class="relative rounded-md p-3 text-sm/6 transition hover:bg-white/5"><a href="#" class="font-semibold"><span class="absolute inset-0"></span>Does drinking coffee make you smarter?</a><ul class="flex gap-2 text-black/50" aria-hidden="true"><li>5h ago</li><li aria-hidden="true">·</li><li>5<!-- --> comments</li><li aria-hidden="true">·</li><li>2<!-- --> shares</li></ul></li><li class="relative rounded-md p-3 text-sm/6 transition hover:bg-white/5"><a href="#" class="font-semibold"><span class="absolute inset-0"></span>So you've bought coffee... now what?</a><ul class="flex gap-2 text-black/50" aria-hidden="true"><li>2h ago</li><li aria-hidden="true">·</li><li>3<!-- --> comments</li><li aria-hidden="true">·</li><li>2<!-- --> shares</li></ul></li></ul>
    </div>
    <div class="rounded-xl bg-black/5 p-3" aria-hidden="true" id="headlessui-tabs-panel-:b2:" role="tabpanel" tabindex="-1" style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" aria-labelledby="headlessui-tabs-tab-:b2:">
      <ul><li class="relative rounded-md p-3 text-sm/6 transition hover:bg-white/5"><a href="#" class="font-semibold"><span class="absolute inset-0"></span>Is tech making coffee better or worse?</a><ul class="flex gap-2 text-black/50" aria-hidden="true"><li>Jan 7</li><li aria-hidden="true">·</li><li>29 comments</li><li aria-hidden="true">·</li><li>16 shares</li></ul></li><li class="relative rounded-md p-3 text-sm/6 transition hover:bg-white/5"><a href="#" class="font-semibold"><span class="absolute inset-0"></span>The most innovative things happening in coffee</a><ul class="flex gap-2 text-black/50" aria-hidden="true"><li>Mar 19</li><li aria-hidden="true">·</li><li>24 comments</li><li aria-hidden="true">·</li><li>12 shares</li></ul></li></ul>
    </div>
    <div class="rounded-xl bg-black/5 p-3" aria-hidden="true" id="headlessui-tabs-panel-:b3:" role="tabpanel" tabindex="-1" style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0" aria-labelledby="headlessui-tabs-tab-:b3:">
      <ul><li class="relative rounded-md p-3 text-sm/6 transition hover:bg-white/5"><a href="#" class="font-semibold"><span class="absolute inset-0"></span>Ask Me Anything: 10 answers to your questions about coffee</a><ul class="flex gap-2 text-black/50" aria-hidden="true"><li>2d ago</li><li aria-hidden="true">·</li><li>9 comments</li><li aria-hidden="true">·</li><li>5 shares</li></ul></li><li class="relative rounded-md p-3 text-sm/6 transition hover:bg-white/5"><a href="#" class="font-semibold"><span class="absolute inset-0"></span>The worst advice we've ever heard about coffee</a><ul class="flex gap-2 text-black/50" aria-hidden="true"><li>4d ago</li><li aria-hidden="true">·</li><li>1 comments</li><li aria-hidden="true">·</li><li>2 shares</li></ul></li></ul>
    </div>
  </div>
</div>
