{% extends 'dashboard/clean_base_without_header.html' %}
{% load static %}
{% load remove_line_break %}
{% load exams_tags %}
{% load increment %}
{% load questions_tags %}

{% block title %}
Lize - Impressão de gabarito de prova
{% endblock title %}

{% block css-additional %}

<style>
    body {
        font-family: "IBM Plex Sans", sans-serif !important;
        background-color: #FFF !important;
        margin: 0 auto !important;
        width: 210mm;
        height: 297mm;
        font-size: 15px;
    }

    img {
        max-width: 100%;
    }

    mjx-container.MathJax {
        font-size: 140% !important;
    }

    .answers-column {
        break-inside: avoid;
    }
    
    @media print {
        .page-break {            
            page-break-before: always;
        }
        mjx-container.MathJax {
            font-size: 160% !important;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="row header">
    <div class="col-12">
        <table class="table table-bordered" style="margin-top: 10mm;">
            <tr>
                <td class="w-25 p-4" rowspan="6">
                    <img src="{{ object.coordinations.all.0.unity.client.logo.url }}" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="5" class="font-weight-bold text-center align-middle">
                    GABARITO DA PROVA
                </td>
            </tr>
            <tr>
                <td colspan="5" class="font-weight-bold text-center align-middle">{{object.name|upper}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Caderno</th>
                </tr>
            </thead>
            <tbody>
                {% for application_student in application_students %}
                <tr>
                    <td class="question_number">
                        {{ application_student.student.name }}
                    </td>
                    <td class="text-uppercase">
                        {{ application_student.randomization_sequential|default_if_none:total_application_versions }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="page-break"></div>

<div class="row">
    {% for exam_questions_version in exam_questions_versions %}
        <div class="col-2 answers-column">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">Caderno {{ exam_questions_version.index }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam_question in exam_questions_version.exam_questions %}
                        <tr>
                            <td>{{ exam_question.question|randomized_application_number_print_question:exam_questions_version.application_version }}</td>
                            <td class="text-uppercase">{{ exam_question.correct_alternative }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    {% if exam_questions %}
        <div class="col-2 answers-column">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">Caderno {{ total_application_versions }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam_question in exam_questions %}
                        <tr>
                            <td>{{ exam_question.question|number_print_question:exam_question.exam }}</td>
                            {% if exam_question.last_status_v2.status == 6 or exam_question.last_status_v2.annuled_give_score %}
                                <td class="text-uppercase">
                                    -
                                </td>
                            {% else %}
                                <td class="text-uppercase">{{ exam_question.question|get_correct_option_answer }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

{% endblock content %}

{% block js-additional %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>    



<script type="application/javascript">
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {},
        methods: {
        },
        mounted: function () {
            document.title = "{{ object.name }}"
            setTimeout(() => {
                window.print();
                window.onafterprint = () => window.close();
            }, 500) 
        }
    })
</script>

{% endblock js-additional %}