{% extends 'redesign/base.html' %}
{% comment %} {% extends 'dashboard/base_fixed.html' %} {% endcomment %}
{% load static %}
{% load cleaned_params %}
{% load call_function_with_params %}
{% load get_value_from_dict %}
{% load percentage %}
{% load increment %}

{% block title %}Revisões - Lize{% endblock title %}

{% block css-additional %}
<link href="{% static 'administration/lib/select2/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'administration/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="https://unpkg.com/@sjmc11/tourguidejs/dist/css/tour.min.css">
<style>
  .tg-backdrop{
    z-index: 9999 !important;
  }
  .select2-selection__choice__remove {
    display: none !important;
  }
</style>

{% endblock %}

{% block content-fixed %}
<div class="tw-flex tw-justify-center">
  <div class="ard cer dcv tw-pb-8 tw-max-w-[100rem] tw-flex-1 tw-mb-16">
    <div class="ls" style="margin-top: 1.25rem; margin-bottom: 1.5rem; justify-content: space-between;">
      <div class="tw-flex tw-flex-wrap tw-items-center tw-gap-6 sm:tw-flex-nowrap tw-w-full">
        <h1 class="tw-text-xl tw-font-semibold tw-leading-7 tw-text-[#374151] sm:tw-truncate sm:tw-text-2xl sm:tw-tracking-tight tw-mb-0">
          Revisões
        </h1>
        <div class="tw-order-last tw-flex tw-w-full tw-gap-x-8 tw-text-sm tw-font-semibold tw-leading-6 sm:tw-order-none sm:tw-w-auto sm:tw-border-l sm:tw-border-gray-200 sm:tw-pl-6 sm:tw-leading-7">
          <button data-tg-title="Filtros detalhados" data-tg-order="2" data-tg-tour="Agora você pode acessar a janela de filtros detalhados clicando aqui." data-tg-group="default-exam-list" type="button" class="tw-flex tw-items-center tw-text-[#667085] tw-off-canvas-menu" id="headlessui-slider-over-button-1" data-toggle-off-canvas="#right-off-canvas" @click="filters.createNewFilter = false">
            <span>Filtrar</span>
            <span class="ml-2">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M5 10H15M2.5 5H17.5M7.5 15H12.5" stroke="#FF8F3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </button>
        </div>
        <div class="tw-ml-auto tw-flex tw-gap-3">
          {% include "redesign/includes/breadcrumb-year.html" with year=year|force_escape %}
        </div>
      </div>
    </div>
    <div data-tg-title="Filtros aplicados" data-tg-order="2" data-tg-tour='Visualize os filtros já aplicados nesta listagem, remova-os individualmente clicando no "x" ou todos de uma vez clicando em "Limpar filtro".' data-tg-group="default-exam-list" v-if="filters.selected || {{ count_filters|default:0|safe }}" class="tw-bg-white sm:tw-rounded-lg tw-py-5 tw-border tw-border-[#E5E7EA] tw-mb-4">
      <div class="tw-px-4 sm:tw-px-6 lg:tw-px-8" >
        <div class="tw-flex tw-justify-between">
          <div class="tw-flex tw-items-center">
            <p class="tw-pl-4 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900 sm:tw-pl-0">
              Filtrando por
            </p>
            <div class="tw-space-x-2">
              <span class="tw-inline-flex tw-items-center tw-gap-x-0.5 tw-rounded tw-bg-[#F9FAFA] tw-px-2 tw-py-1 tw-text-xs tw-font-medium tw-text-[#384250]" v-for="filter in filters.labels()">
                <button type="button" class="tw-group tw-relative tw--ml-1 tw-h-3.5 tw-w-3.5 tw-rounded-sm hover:tw-bg-gray-500/20">
                  <span class="tw-sr-only">Remove</span>
                  <svg viewBox="0 0 14 14" class="tw-h-3.5 tw-w-3.5 tw-stroke-gray-700/50 group-hover:tw-stroke-gray-700/75">
                    <path d="M4 4l6 6m0-6l-6 6" />
                  </svg>
                  <span class="tw-absolute tw--inset-1"></span>
                </button>
                ${ filter.label }<template v-if="filter.showValues">:<span v-if="!filter.showCount">${ filter.values.join(', ') }</span><span v-else>${ filter.values.length }</span></template>
              </span>
            </div>
          </div>
          <div class="tw-flex tw-items-center">
            <button type="button" class="tw-text-left tw-text-sm tw-font-semibold tw-text-[#667085] tw-flex tw-items-center" @click="cleanFilter">
              Limpar filtro
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="tw-ml-2">
                <path d="M15 5L5 15M5 5L15 15" stroke="#FF8F3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="tw-bg-white sm:tw-rounded-lg tw-pt-5 tw-border tw-border-[#E5E7EA]">
      <div class="tw-px-4 sm:tw-px-6 lg:tw-px-8">
        <div class="tw-flow-root">
          <div class="tw--mx-4 tw--my-2 tw-overflow-x-auto sm:tw--mx-6 lg:tw--mx-8">
            <div class="tw-inline-block tw-min-w-full tw-py-2 tw-align-middle sm:tw-px-6 lg:tw-px-8">
              <div class="tw-relative">
                <div v-if="selectionList.length > 0" class="tw-absolute tw-top-0 tw-left-14 tw-flex tw-h-12 tw-items-center tw-space-x-3 tw-bg-white sm:tw-left-12">
                  <button type="button" class="tw-inline-flex tw-items-center tw-rounded tw-bg-white tw-px-2 tw-py-1 tw-text-sm tw-font-semibold tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 hover:tw-bg-gray-50 disabled:tw-cursor-not-allowed disabled:tw-opacity-30 disabled:hover:tw-bg-white" @click="changeAllStatus()">Alterar situação</button>
                  <button type="button" class="tw-inline-flex tw-items-center tw-rounded tw-bg-white tw-px-2 tw-py-1 tw-text-sm tw-font-semibold tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 hover:tw-bg-gray-50 disabled:tw-cursor-not-allowed disabled:tw-opacity-30 disabled:hover:tw-bg-white" @click="removeAllSelected()">Remover selecionadas</button>
                </div>
                <table class="tw-min-w-full tw-table-fixed tw-divide-y tw-divide-gray-300">
                  <thead>
                    <tr>
                      <th scope="col" class="tw-min-w-[12rem] tw-py-3.5 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900">Por</th>
                      <th scope="col" class="tw-min-w-[12rem] tw-py-3.5 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900">Caderno</th>
                      <th scope="col" class="tw-min-w-[12rem] tw-py-3.5 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900 text-center">Sit. Atual</th>
                      <th scope="col" class="tw-min-w-[12rem] tw-py-3.5 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900 text-center">Revisão</th>
                      <th scope="col" class="tw-min-w-[12rem] tw-py-3.5 tw-pr-3 tw-text-left tw-text-sm tw-font-semibold tw-text-gray-900">Anotação</th>
                    </tr>
                  </thead>
                  <tbody class="tw-divide-y tw-divide-gray-200 tw-bg-white">
                    {% for status_question in object_list %}
                        <tr id="tr-{{ status_question.pk }}">
                           <td class="tw-whitespace-nowrap tw-px-3 tw-py-4 tw-text-sm tw-text-gray-500">
                            <span class="tw-font-medium tw-text-gray-900">{{ status_question.user|default:'--' }}</span><br/>
                            <span class="text-muted">
                               {{ status_question.created_at|date:'d/m/Y H:i' }}
                            </span>
                          </td>
                          <td :class="['tw-py-4 tw-pr-3 tw-text-sm tw-font-medium', selectionList.includes('{{ status_question.pk }}') ? 'tw-text-primary-600' : 'tw-text-gray-900']">
                            <div class="tw-flex tw-items-center">
                              <div>
                                <div class="tw-font-medium tw-text-gray-900">{{ status_question.exam_question.exam.name }}</div>
                                <div class="tw-flex tw-mt-1">
                                  <span class="tw-text-[#9BA3AF]">
                                      {% with status_question.exam_question.exam_question_number as number%}
                                      {% if number %}
                                        Questão {{number}}
                                      {% else %}
                                        --
                                      {% endif %}
                                      {% endwith %}
                                   </span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="tw-whitespace-nowrap tw-px-3 tw-py-4 tw-text-sm tw-text-gray-500 text-center">

                            {% with status_question.exam_question.last_status_v2 as last_status %}
                                <span class="badge rounded-pill d-flex align-items-center mx-2 px-2 ml-0" style="font-size: 13px; max-width: fit-content;  margin: 0 auto !important;" :style="{ border: '1px solid #E5E7EA', backgroundColor: getExamQuestionStatus('{{ last_status.get_status_display }}').bgColor }">
                                  <span v-html="getExamQuestionStatus('{{ last_status.get_status_display }}', 16).icon" class="mx-1"></span>
                                  <span v-html="getExamQuestionStatus('{{ last_status.get_status_display }}').label" class="mx-1"></span>
                                </span>
                            {% endwith %}
                          </td>
                          <td class="tw-whitespace-nowrap tw-px-3 tw-py-4 tw-text-sm tw-text-gray-500">
                            {% with status_question.get_status_display as status %}
                              <span class="badge rounded-pill d-flex align-items-center mx-2 px-2" style="font-size: 13px; max-width: fit-content; margin: 0 auto !important;" :style="{ border: '1px solid #E5E7EA', backgroundColor: getExamQuestionStatus('{{ status }}').bgColor }">
                                <span v-html="getExamQuestionStatus('{{ status }}', 16).icon" class="mx-1"></span>
                                <span v-html="getExamQuestionStatus('{{ status }}').label" class="mx-1"></span>
                              </span>
                            {% endwith %}
                          </td>
                          <td>
                            {{ status_question.note|safe|default:'--' }}
                          </td>
                          <td>
                            

                            <a target="_blank" href="{% url 'exams:exam_review' status_question.exam_question.exam.pk %}?is_popup=1&exam_teacher_subject={{status_question.exam_question.exam_teacher_subject.pk}}&exam_question={{status_question.exam_question.pk}}" class="tw-group tw-shadow-sm tw-w-fit tw-p-2 tw-flex tw-gap-2 tw-items-center tw-justify-center tw-rounded-xl tw-text-[#101928] hover:tw-bg-[#FBEAE9] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
                                <div class="tw-rounded-full tw-bg-gray-200 tw-p-2 tw-text-gray-700 group-hover:tw-text-white group-hover:tw-bg-gray-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                                </div>
                                <div class="tw-whitespace-nowrap">
                                    Revisar
                                </div>
                          </td>
                         
                        </tr>
                    {% empty %}
                      <tr>
                        <td colspan="6"><p class="tw-py-4">Não há revisões cadastrados</p></td>
                      </tr>
                    {% endfor %}
                    {% if object_list|length < 3 %}
                      <tr>
                        <td colspan="6"><p class="tw-py-20">&nbsp;</p></td>
                      </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% include 'redesign/includes/pagination.html' with objects=object_list %}
      </div>
    </div>
  </div>
</div>
{% endblock content-fixed %}

{% block slide-over %}
<div class="tw-relative tw-z-[1000] tw-off-canvas tw-off-canvas-right tw-invisible" aria-labelledby="slide-over-title" role="dialog" aria-modal="true" id="right-off-canvas">
  <div class="tw-fixed tw-inset-0 tw-bg-[#9BA3AF] tw-bg-opacity-60 tw-transition-opacity"></div>
  <div class="tw-fixed tw-inset-0 tw-overflow-hidden">
    <div class="tw-absolute tw-inset-0 tw-overflow-hidden">
      <div class="tw-pointer-events-none tw-fixed tw-inset-y-0 tw-right-0 tw-flex tw-max-w-full tw-pl-10" v-click-outside="onClickOutsideFilters">
        <div class="tw-pointer-events-auto tw-w-screen tw-max-w-xs" v-if="filters.list.length > 0">
          <div class="tw-flex tw-h-full tw-flex-col tw-overflow-y-scroll tw-bg-[#F9FAFA] tw-py-6 tw-shadow-xl">
            <div class="tw-px-4 sm:tw-px-6">
              <h2 class="tw-text-base tw-font-semibold tw-leading-6 tw-text-gray-900">
                Filtros salvos
              </h2>
            </div>
            <div class="tw-px-4 sm:tw-px-6 tw-mb-5">
              <label for="id-search-filter" class="tw-sr-only">Pesquisar</label>
              <div class="tw-relative tw-mt-6 tw-flex-1">
                <div class="tw-relative tw-mt-2 tw-rounded-md tw-shadow-sm">
                  <input type="text" name="search-filter" id="id-search-filter" class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-pr-10 tw-text-gray-900 tw-bg-transparent tw-ring-1 tw-ring-inset tw-ring-gray-300 placeholder:tw-text-gray-400 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" placeholder="Pesquisar filtro" v-model="searchFilter" />
                  <div class="tw-pointer-events-none tw-absolute tw-inset-y-0 tw-right-0 tw-flex tw-items-center tw-pr-3">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="tw-h-5 tw-w-5 tw-text-gray-400" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="tw-space-y-3 tw-px-4 sm:tw-px-6">
              <div class="tw-bg-white tw-border tw-rounded" v-for="filter in filteredList">
                <div class="tw-px-2 tw-py-5 sm:tw-px-4">
                  <div class="tw-flex tw-space-x-3 tw-mb-3">
                    <div class="tw-min-w-0 tw-flex-1">
                      <p class="tw-text-sm tw-font-semibold tw-text-gray-900">
                        ${ filter.name }
                      </p>
                    </div>
                    <div class="tw-flex tw-flex-shrink-0 tw-self-center">
                      <div class="tw-relative tw-inline-block tw-text-left">
                        <button type="button" class="tw--m-2 tw-flex tw-items-center tw-rounded-full tw-p-2 tw-text-gray-400 hover:tw-text-gray-600" :id="`dropdownMenuButton-${ filter.id }`" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="tw-sr-only">Open options</span>
                          <svg class="tw-h-5 tw-w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                          </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right tw-absolute tw-right-0 tw-z-10 tw-mt-2 tw-w-56 tw-origin-top-right tw-rounded-md tw-bg-white tw-shadow-lg tw-ring-1 tw-ring-black tw-ring-opacity-5 focus:tw-outline-none" role="menu" aria-orientation="vertical" :aria-labelledby="`dropdownMenuButton-${ filter.id }`" tabindex="-1">
                          <div class="tw-py-1" role="none">
                            <button type="button" class="tw-text-gray-700 tw-flex tw-px-4 tw-py-2 tw-text-sm tw-w-full hover:tw-bg-gray-100 hover:tw-text-gray-900" role="menuitem" tabindex="-1" id="menu-0-item-0" @click="applyFilter(`${filter.fullUrl}&selected_filter=${filter.id}`)">
                              <span>Aplicar filtro</span>
                            </button>
                            <button type="button" class="tw-text-gray-700 tw-flex tw-px-4 tw-py-2 tw-text-sm tw-w-full hover:tw-bg-gray-100 hover:tw-text-gray-900" role="menuitem" tabindex="-1" id="menu-0-item-1" @click="removeDefaultFilter(filter)">
                              <span>Deletar filtro</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tw-space-y-2">
                    <span class="tw-inline-flex tw-items-center tw-justify-between tw-gap-x-0.5 tw-rounded-md tw-bg-[#F9FAFA] tw-px-3 tw-py-2 tw-text-sm tw-font-medium tw-text-[#667085] tw-w-full" v-for="filter in filters.parseParamsInLabels(filter.params)" v-html="filter" v-if="filter.length">
                      <!-- <span>Disciplina do caderno</span><span>1</span> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tw-pointer-events-auto tw-w-screen tw-max-w-md">
          <div class="tw-flex tw-h-full tw-flex-col tw-divide-y tw-divide-gray-200 tw-bg-white tw-border-l">
            <div class="tw-h-0 tw-flex-1 tw-overflow-y-auto">
              <div class="tw-px-4 tw-pt-6 sm:tw-px-6">
                <div class="tw-flex tw-items-center tw-justify-between">
                  <h2 class="tw-text-base tw-font-semibold tw-leading-6 tw-text-gray-900" id="slide-over-title">
                    Filtrar cadernos
                  </h2>
                  <div class="tw-ml-3 tw-flex tw-h-7 tw-items-center">
                    <button type="button" class="tw-relative tw-rounded-md tw-bg-white tw-text-gray-400 hover:tw-text-gray-500 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-primary-500 focus:tw-ring-offset-2 tw-off-canvas-close" id="headlessui-slider-over-close-button-1">
                      <span class="tw-absolute tw--inset-2.5"></span>
                      <span class="tw-sr-only">Close panel</span>
                      <svg class="tw-h-6 tw-w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="tw-mt-1">
                  <p class="tw-text-sm tw-text-gray-500">
                    Adiciona abaixo os filtros que você deseja aplicar na listagem abaixo.
                  </p>
                </div>
              </div>
              <form id="filterForm" method="GET" class="tw-flex tw-flex-1 tw-flex-col tw-justify-between">
                <input type="hidden" value="{{ year|force_escape }}" name="year" />
                <div class="tw-divide-y tw-divide-gray-200 tw-px-4 sm:tw-px-6">
                  <div class="tw-space-y-6 tw-pb-5 tw-pt-6">
                    <div>
                      <label for="exam_name_id" class="tw-block tw-text-sm tw-font-medium tw-leading-6 tw-text-gray-900">Nome do caderno</label>
                      <div class="tw-mt-2">
                        <input type="text" id="exam_name_id" name="q_name" class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 placeholder:tw-text-gray-400 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" value="{{ q_name }}" placeholder="Digite o nome da prova aqui" />
                      </div>
                    </div>
                    <div>
                      <label for="user_id" class="tw-block tw-text-sm tw-font-medium tw-leading-6 tw-text-gray-900">Quem revisou</label>
                      <div class="tw-mt-2">
                        <input type="text" id="user_id" name="q_user" class="tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-text-gray-900 tw-shadow-sm tw-ring-1 tw-ring-inset tw-ring-gray-300 placeholder:tw-text-gray-400 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" value="{{ q_user }}" placeholder="Digite o nome do revisor aqui" />
                      </div>
                    </div>
                    <div>
                      <label for="status_id" class="tw-block tw-text-sm tw-font-medium tw-leading-6 tw-text-gray-900">Revisão</label>
                      <div class="tw-mt-2">
                        <select id="status_id" name="q_status" class="tw-mt-2 tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-pl-3 tw-pr-10 tw-text-gray-900 tw-ring-1 tw-ring-inset tw-ring-gray-300 focus:tw-ring-2 focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" multiple="multiple">
                          {% for key, value in status_choices %}
                            <option value="{{key}}" {% if key|stringformat:'s' in q_status %}selected="selected"{% endif %}>{{value}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div>
                      <label for="exam_status_id" class="tw-block tw-text-sm tw-font-medium tw-leading-6 tw-text-gray-900">Situação do caderno</label>
                      <div class="tw-mt-2">
                        <select id="exam_status_id" name="q_exam_status" class="tw-mt-2 tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-pl-3 tw-pr-10 tw-text-gray-900 tw-ring-1 tw-ring-inset tw-ring-gray-300 focus:tw-ring-2 focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" multiple="multiple">
                          {% for key, value in exam_status_choices %}
                            <option value="{{key}}" {% if key|stringformat:'s' in q_status %}selected="selected"{% endif %}>{{value}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div>
                      <label for="teaching_stage_id" class="tw-block tw-text-sm tw-font-medium tw-leading-6 tw-text-gray-900">Etapa de ensino</label>
                      <div class="tw-mt-2">
                        <select id="teaching_stage_id" name="q_teaching_stages" class="tw-mt-2 tw-block tw-w-full tw-rounded-md tw-border-0 tw-py-1.5 tw-pl-3 tw-pr-10 tw-text-gray-900 tw-ring-1 tw-ring-inset tw-ring-gray-300 focus:tw-ring-2 focus:tw-ring-primary-600 sm:tw-text-sm sm:tw-leading-6" multiple="multiple">
                          {% for stage in teaching_stages %}
                            <option value="{{ stage.pk }}" {% if stage.pk|stringformat:'s' in q_teaching_stages %}selected="selected"{% endif %}>
                              {{ stage }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div>
                      <!-- <div class="tw-mt-2">
                        <label for="only_with_note" class="tw-block tw-text-sm tw-font-medium tw-leading-6 tw-text-gray-900">Apenas com anotação</label>
                        <input type="checkbox" checked="{% if q_only_with_note %}checked{% else %}unchecked{% endif %}" id="only_with_note" name="q_only_with_note"  />
                      </div> -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" id="onlyWithNote" name="q_only_with_note" class="custom-control-input" {% if q_only_with_note %}checked="checked"{% endif %} />
                        <label class="custom-control-label" for="onlyWithNote">Apenas com anotação</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" id="onlyNotApplied" name="q_only_not_applied" class="custom-control-input" {% if q_only_not_applied %}checked="checked"{% endif %} />
                        <label class="custom-control-label" for="onlyNotApplied">Apenas não aplicados</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tw-flex tw-flex-wrap tw-space-y-3 sm:tw-space-x-3 sm:tw-space-y-0 tw-px-4 tw-py-4">
              <button type="submit" class="tw-inline-flex tw-w-full tw-flex-shrink-0 tw-items-center tw-justify-center tw-rounded-md tw-bg-blue-600 tw-px-3 tw-py-2 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-500 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-blue-600 sm:tw-flex-1" v-if="!filters.createNewFilter" form="filterForm">
                Aplicar filtro
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock slide-over %}

{% block extra-modal %}

{% endblock extra-modal %}

{% block js-additional %}
<script src="{% static 'administration/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'administration/lib/select2/js/select2.min.js' %}"></script>
<script src="{% static 'administration/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
<script src="{% static 'administration/lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="https://unpkg.com/@sjmc11/tourguidejs/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  var app = new Vue({
    delimiters: ['${', '}'],
    components: {
      {% include 'includes/components/vue-filters.html' %}
    },
    el: '#app',
    data: {
      updateStatusFetchStatus: 'idle',
      searchFilter: '',
      filters: {
        selected: null,
        list: [],
        createNewFilter: false,
        parseParamsInLabels(params) {
          let query = {}, labels = [];
          let pairs = (params[0] === '?' ? params.substr(1) : params).split('&');
          for (var i = 0; i < pairs.length; i++) {
            var pair = pairs[i].split('=');
            query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
          }
          for(key in query) {
            if(query[key]) {
              const count = params.match(new RegExp(`\\b(${key})\\b`, 'g')).length;
              let input = $(`[name="${key}"]`), inputId = input.attr('id'), label = `${$(`[for="${inputId}"]`).text()}`
              if(input.prop('type') == 'select-multiple') {
                label += `: <span class="badge badge-dark rounded-circle">${count}</span>`
              } else {
                if(input.prop('type') == 'select-one') {
                  label += `: ${input.find(`option[value=${query[key]}]`).text()}`
                }
                if(input.prop('type') == 'text') {
                  label += `: ${query[key]}`
                }
              }
              labels.push(label)
            }
          }
          return labels
        },
        labels() {
          let labels = []
          
          $('#filterForm').find('select, input').each((index, input) => {
            let values = [], showValues = true, showCount = false
            if(input.id) {
              if(input.type.includes('select')  ) {
                if(input.type == 'select-multiple') {
                  showCount = true
                }
                values = $(`#${input.id} option:selected`).toArray().map(item => item.text)
              }
              else if(input.type == 'checkbox' || input.type == 'radio') {
                value = $(`#${input.id}:checked`).val()
                if(value == 'on' || value === true) {
                  showValues = false
                  values.push(true)
                }
              } else {
                values.push($(`#${input.id}`).val())
              }
              if(values.filter(value => value).length) {
                labels.push({
                  label: $(`[for=${input.id}]`).text(),
                  showValues: showValues,
                  showCount: showCount,
                  values: values,
                })
              }
            }
          })
          return labels
        },
      },
      selectionList: [],
      examPrintConfigObject: {
        header: '',
        customPages: [],
        headerFormat: 1,
        columnType: 0,
        kind: 0,
        textQuestionFormat: 1,
        lineHeight: 0,
        fontSize: 0,
        fontFamily: 0,
        printSubjectsName: false,
        printWithCorrectAnswers: false,
        hideAlternativesIndicator: false,
        hideQuestionsReferencies: false,
        hideKnowledgeAreasName: false,
        printBlackAndWhiteImages: false,
        hyphenate: false,
        discursiveLineHeight: 1,
      },
      examPrintConfig: {},
      printDefaults: [],
      duplicateMode: "no-copy-questions",
      loadedPrintDefaults: false,
    },
    methods: {
      getExamQuestionStatus(statusDisplay, iconSize = 16) {
        let statusObject = {
          "Em aberto": {
            "label": "Em aberto",
            "bgColor": "#0C7BDB10",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#0C7BDB" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            `
          },
          "Visto": {
            "label": "Visto",
            "bgColor": "#0C7BDB10",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#0C7BDB" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            `
          },
          "Aprovada": {
            "label": "Aprovada",
            "bgColor": "#41C58810",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#41C588" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
              </svg>
            `
          },
          "Reprovada": {
            "label": "Reprovada",
            "bgColor": "#FF000010",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#FF0000" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            `
          },
          "Anulada": {
            "label": "Anulada",
            "bgColor": "#FF000010",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#FF0000" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            `
          },
          "Usar depois": {
            "label": "Usar depois",
            "bgColor": "#00b8d410",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#00b8d4" class="bi bi-clock-history" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
            `
          },
          "Aguardando correção": {
            "label": "Aguardando correção",
            "bgColor": "#FF8F3D10",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#FF8F3D" class="bi bi-stopwatch" viewBox="0 0 16 16">
                <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
              </svg>
            `
          },
          "Corrigido": {
            "label": "Corrigido",
            "bgColor": "#ffc10710",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#ffc107" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg>
            `
          },
          "Rascunho": {
            "label": "Rascunho",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
            `
          },
          "Incompleta": {
            "label": "Questão incompleta",
            "bgColor": "#FF000010",
            "icon": `
              <svg xmlns="http://www.w3.org/2000/svg" width="${iconSize}" height="${iconSize}" fill="#FF0000" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
              </svg>
            `
          },
        }
        
        if(statusObject[statusDisplay]) {
          return statusObject[statusDisplay]
        }

        return statusObject["Em aberto"]
      },
      cleanFilter() {
        window.location.href = {% url 'exams:exams_list' %};
      },
      alertTop(text) {
        Swal.fire({
          position: 'top-end',
          text: text,
          icon: 'success',
          showConfirmButton: false,
          timer: 1500,
          toast: true,
          timerProgressBar: true,
        })
      },
      onClickOutsideFilters(event) {
        const target = event.target
        const button = document.getElementById('headlessui-slider-over-button-1')

        const select2DropdownAbove = document.getElementsByClassName('select2-dropdown--above')[0]
        const select2DropdownBelow = document.getElementsByClassName('select2-dropdown--below')[0]
        if (select2DropdownAbove || select2DropdownBelow) {
          return
        }

        if (!(target === button || button.contains(target))) {
          const rightOffCanvasContent = document.getElementById('right-off-canvas')
          if (rightOffCanvasContent.classList.contains('tw-show')) {
            rightOffCanvasContent.classList.remove('tw-show')
          }
        }
      },
    },
    updated() {
      tippy('.tooltips', {
        placement: 'bottom',
        allowHTML: true,
        maxWidth: 'none',
      })
    },
    mounted() {
      self = this
      
      {% include 'help/includes/tour_guide.js' with group_guide_name='default-exam-list' %}

      $("#headlessui-slider-over-button-1").click()

      $('#status_id').select2({
        placeholder: "Selecione uma opção",
        closeOnSelect: false,
      });

      $('#exam_status_id').select2({
        placeholder: "Selecione uma opção",
        closeOnSelect: false,
      });
      
      $('#teaching_stage_id').select2({
        placeholder: "Selecione uma opção",
        closeOnSelect: false,
      }).on('select2:selecting', function(e) {
        let cur = e.params.args.data.id;
        let old = (e.target.value == '') ? [cur] : $(e.target).val().concat([cur]);
        $(e.target).val(old).trigger('change');
        $(e.params.args.originalEvent.currentTarget).attr('aria-selected', 'true');
        return false;
      });
    
      $('.table-responsive').on('show.bs.dropdown', function () {
        $('.table-responsive').css( "overflow", "inherit" );
      });
      
      $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.table-responsive').css( "overflow", "auto" );
      })

      $('.tw-off-canvas-menu').on('click', function (e) {
        e.preventDefault();
        var target = $(this).attr('data-toggle-off-canvas');
        $(target).addClass('tw-show');
      });
  
      $('.tw-off-canvas .tw-off-canvas-close').on('click', function (e) {
        e.preventDefault();
        $(this).closest('.tw-off-canvas').removeClass('tw-show');
      })
    
      $(document).on('click touchstart', function (e) {
        if($(e.target).hasClass('select2-results__option') || $(e.target).hasClass('select2-results__custom_option')) {
          return
        }
        e.stopPropagation();
        if (!$(e.target).closest('.tw-off-canvas-menu').length) {
          var offCanvas = $(e.target).closest('.tw-off-canvas').length;
          if (!offCanvas) {
            $('.tw-off-canvas.tw-show').removeClass('tw-show');
          }
        }
      });

    },
    computed: {
      
    },
    directives: {
      'click-outside': {
        bind: function(el, binding, vNode) {
          // Provided expression must evaluate to a function.
          if (typeof binding.value !== 'function') {
            const compName = vNode.context.name
            let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
            if (compName) { warn += `Found in component '${compName}'` }

            console.warn(warn)
          }
          // Define Handler and cache it on the element
          const bubble = binding.modifiers.bubble
          const handler = (e) => {
            if (bubble || (!el.contains(e.target) && el !== e.target)) {
              binding.value(e)
            }
          }
          el.__vueClickOutside__ = handler

          // add Event Listeners
          document.addEventListener('click', handler)
        },

        unbind: function(el, binding) {
          // Remove Event Listeners
          document.removeEventListener('click', el.__vueClickOutside__)
          el.__vueClickOutside__ = null
        }
      }
    },
  })
</script>
{% endblock %}
